<section class="about section-offset section-decoration">
    <div class="container">
        <div class="about__inner">
            <div class="about__info">
                <h2 class="section-title about__title">«МедГарант» — ваша опора <br>
                    во Владикавказе с 2015 года <br> <span>2015 года</span></h2>
                <div class="about__descr">
                    <p>Мы помогли более 1 200 жителям Северной Осетии вернуть контроль над жизнью. Наша клиника — это не
                        просто место для медицинских процедур, а пространство для восстановления личности и пути к
                        устойчивому выздоровлению без рецидивов.</p>
                </div>

                <ul class="about__list">
                    <li>
                        Лицензия Минздрава РСО-Алания
                    </li>
                    <li>
                        Современное оборудование для реанимации
                    </li>
                    <li>
                        Программы реабилитации 12 шагов
                    </li>
                </ul>
                <a class="standart-btn primary-btn about__btn" href="#">Подробнее о клинике</a>
            </div>
            <div class="about__picture-inner">
                <div class="about__label">
                    <span class="about__label-name">Дзгоев Алан Георгиевич</span>
                    <span class="about__label-spec">Главный врач, стаж 18 лет</span>
                </div>
                <picture class="about__picture">
                    <source srcset="assets/img/about/about.webp" type="image/webp">
                    <img src="assets/img/about/about.jpg" alt="Доктора">
                </picture>
            </div>
        </div>
    </div>
</section>