<section class="about section-offset section-decoration">
    <div class="container">
        <div class="about__inner">
            <div class="about__info">
                <h2 class="section-title about__title">Реабилитационный центр <br> <span>«Новый ресурс»</span></h2>
                <p>Реабилитационный центр Новый Ресурс в Ростове-на-Дону предлагает качественные услуги по
                    восстановлению всех сфер здоровья пациентам с любыми видами зависимостей. Мы проводим
                    терапевтические мероприятия, которые позволят достичь длительной и стабильной ремиссии. На базе
                    клиники можно пройти реабилитацию по хорошо зарекомендовавшим программам — «12 шагов», «Миннесотская
                    модель», «Терапевтическое сообщество», «Day Top».</p>
                <p>Специалисты областного реабилитационного центра помогают женщинам, мужчинам, подросткам и пожилым
                    оставить в прошлом болезненное влечение к алкоголю, наркотикам, никотину, компьютерным играм,
                    ставкам на спорт. Высокую эффективность восстановления обеспечивает комплексный подход с учетом
                    индивидуальных особенностей пациента. Курирующие наркологи разрабатывают персонализированные
                    стратегии с учетом состояния здоровья.</p>
            </div>
            <div class="about__content">
                <picture class="about__picture">
                    <source srcset="assets/img/about/about.webp" type="image/webp">
                    <img src="assets/img/about/about.jpg" alt="Доктора">
                </picture>
                <div class="about__stat-wrap">
                    <div class="about__stat-item">
                        <span class="about__stat-number">56+</span>
                        <p>Пациентам помогли за неделю</p>
                    </div>
                    <div class="about__stat-item">
                        <span class="about__stat-number">242+</span>
                        <p>Пациентам помогли за месяц</p>
                    </div>
                    <div class="about__stat-item">
                        <span class="about__stat-number">250+</span>
                        <p>Пациентам помогли за год</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>