<section class="about-number section-offset">
    <div class="container">
        <h2 class="section-title">
            О нас <span>в цифрах</span>
        </h2>
        <div class="about-number__inner">
            <div class="about-number__item">
                <div class="about-number__number">100</div>
                <div class="about-number__text">Пациентам помогли за неделю</div>
            </div>
            <div class="about-number__item">
                <div class="about-number__number">400</div>
                <div class="about-number__text">Пациентам помогли за месяц</div>
            </div>
            <div class="about-number__item about-number__item-large">
                <div class="about-number__number">1000</div>
                <div class="about-number__text">Пациентам помогли за год</div>
            </div>
        </div>
    </div>
</section>
