<section class="advantages section-offset">
    <div class="container swiper-container">
        <h2 class="section-title swiper-title">
            Преимущества
        </h2>
        <div class="swiper advantages__inner swiper-inner">
            <div class="swiper-wrapper">
                <div class="swiper-slide advantages__item">
                    <picture>
                        <source srcset="assets/img/icons/intro/intro-1.webp" type="image/webp">
                        <img src="assets/img/icons/intro/intro-1.png" alt="Работаем круглосуточно">
                    </picture>
                    <p>Работаем круглосуточно</p>
                </div>
                <div class="swiper-slide advantages__item">
                    <picture>
                        <source srcset="assets/img/icons/intro/intro-2.webp" type="image/webp">
                        <img src="assets/img/icons/intro/intro-2.png" alt="Полная анонимность">
                    </picture>
                    <p>Полная анонимность</p>
                </div>
                <div class="swiper-slide advantages__item">
                    <picture>
                        <source srcset="assets/img/icons/intro/intro-3.webp" type="image/webp">
                        <img src="assets/img/icons/intro/intro-3.png" alt="Гарантия качества">
                    </picture>
                    <p>Гарантия качества</p>
                </div>
                <div class="swiper-slide advantages__item">
                    <picture>
                        <source srcset="assets/img/icons/intro/intro-4.webp" type="image/webp">
                        <img src="assets/img/icons/intro/intro-4.png" alt="Современные программы ">
                    </picture>
                    <p>Современные программы </p>
                </div>
                <div class="swiper-slide advantages__item">
                    <picture>
                        <source srcset="assets/img/icons/intro/intro-5.webp" type="image/webp">
                        <img src="assets/img/icons/intro/intro-5.png" alt="Квалифицированные врачи">
                    </picture>
                    <p>Квалифицированные врачи</p>
                </div>
                </ul>
            </div>
        </div>
        <div class="swiper-pag advantages__swiper-pag">
            <div class="swiper-pagination advantages__pagination"></div>
        </div>
</section>