<section class="advantages  section-pt section-pb">
    <div class="container swiper-container">
        <h2 class="section-title swiper-title advantages__title ">
            Почему <span>выбирают нас</span>
        </h2>
        <div class="swiper-inner swiper-inner--basic">
            <div class="swiper advantages-swiper swiper--basic">
                <div class="swiper-wrapper swiper-wrapper--basic advantages__swiper-wrapper">
                    <div class="swiper-slide advantages__item">
                        <picture>
                            <source srcset="assets/img/advantages/1.svg" type="image/svg+xml">
                            <img src="assets/img/advantages/1.png" alt="Работаем круглосуточно">
                        </picture>
                        <p class="advantages__item-name">Полная анонимность</p>
                        <div class="advantages__item-descr">
                            <p>Без постановки на наркологический учёт. Ваши данные не передаются в госорганы
                                и на работу.</p>
                        </div>
                    </div>
                    <div class="swiper-slide advantages__item">
                        <picture>
                            <source srcset="assets/img/advantages/2.svg" type="image/svg+xml">
                            <img src="assets/img/advantages/2.png" alt="Работаем круглосуточно">
                        </picture>
                        <p class="advantages__item-name">Выезд за 30 минут</p>
                        <div class="advantages__item-descr">
                            <p>Врач приедет в любой район Владикавказа
                                и пригорода. Машина без опознавательных знаков.</p>
                        </div>
                    </div>
                    <div class="swiper-slide advantages__item">
                        <picture>
                            <source srcset="assets/img/advantages/3.svg" type="image/svg+xml">
                            <img src="assets/img/advantages/3.png" alt="Работаем круглосуточно">
                        </picture>
                        <p class="advantages__item-name">Собственный стационар</p>
                        <div class="advantages__item-descr">
                            <p>Комфортные палаты, 3-разовое питание, круглосуточное наблюдение и охраняемая территория.
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide advantages__item">
                        <picture>
                            <source srcset="assets/img/advantages/4.svg" type="image/svg+xml">
                            <img src="assets/img/advantages/4.png" alt="Работаем круглосуточно">
                        </picture>
                        <p class="advantages__item-name">Опытные врачи</p>
                        <div class="advantages__item-descr">
                            <p>Наркологи и психотерапевты
                                со стажем от 10 лет. Используем только сертифицированные препараты.</p>
                        </div>
                    </div>
                    <div class="swiper-slide advantages__item">
                        <picture>
                            <source srcset="assets/img/advantages/5.svg" type="image/svg+xml">
                            <img src="assets/img/advantages/5.png" alt="Работаем круглосуточно">
                        </picture>
                        <p class="advantages__item-name">Помощь родственникам</p>
                        <div class="advantages__item-descr">
                            <p>Лечим не только пациента, но и помогаем семье. Бесплатные консультации по созависимости и
                                психология отношений.</p>
                        </div>
                    </div>
                    <div class="swiper-slide advantages__item">
                        <picture>
                            <source srcset="assets/img/advantages/6.svg" type="image/svg+xml">
                            <img src="assets/img/advantages/6.png" alt="Работаем круглосуточно">
                        </picture>
                        <p class="advantages__item-name">Честная цена и рассрочка</p>
                        <div class="advantages__item-descr">
                            <p>Стоимость фиксируется в договоре до начала лечения. Никаких скрытых доплат. Возможна
                                оплата
                                частями.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-buttons swiper-buttons--basic advantages__swiper-buttons">
                <div class="swiper-button-prev advantages-swiper__button-prev swiper-button button-prev"></div>
                <div class="swiper-button-next advantages-swiper__button-next swiper-button button-next"></div>
            </div>
        </div>
        <div class="advantages__garant">
            <picture>
                <source srcset="assets/img/advantages/garant.svg" type="image/svg+xml">
                <img src="assets/img/advantages/garant.png" alt="Гарантия результата">
            </picture>
            <span>Гарантия результата</span>
            <p>Мы сопровождаем пациента до полного выздоровления, предотвращая срывы.</p>
        </div>

</section>