<section class="articles section-offset">
    <div class="container swiper-container">
        <h2 class="section-title swiper-title">
            Полезные <span>статьи</span>
        </h2>
        <div class="swiper articles__inner">
            <div class="swiper-wrapper">
                <div class="swiper-slide articles__item">
                    <picture>
                        <source srcset="assets/img/article/2.webp" type="image/webp">
                        <img src="assets/img/article/2.jpg" alt="">
                    </picture>
                    <div class="articles__item-content">
                        <div class="articles__top">
                            <p class="articles__name">Лечение алкоголизма по методу Довженко</p>
                            <p class="articles__descr">Лечение алкоголизма по методу Довженко</p>
                        </div>
                        <div class="articles__bottom">
                            <span class="articles__date">
                                12.05.23
                            </span>
                            <a href="#" class="articles__link standart-btn arrow-btn">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide articles__item">
                    <picture>
                        <source srcset="assets/img/article/2.webp" type="image/webp">
                        <img src="assets/img/article/2.jpg" alt="">
                    </picture>
                    <div class="articles__item-content">
                        <div class="articles__top">
                            <p class="articles__name">Лечение алкоголизма по методу Довженко</p>
                            <p class="articles__descr">Лечение алкоголизма по методу Довженко Лечение алкоголизма по
                                методу Довженко Лечение алкоголизма по методу Довженко Лечение алкоголизма по методу
                                Довженко</p>
                        </div>
                        <div class="articles__bottom">
                            <span class="articles__date">
                                12.05.23
                            </span>
                            <a href="#" class="articles__link standart-btn arrow-btn">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide articles__item">
                    <picture>
                        <source srcset="assets/img/article/2.webp" type="image/webp">
                        <img src="assets/img/article/2.jpg" alt="">
                    </picture>
                    <div class="articles__item-content">
                        <div class="articles__top">
                            <p class="articles__name">Лечение алкоголизма по методу Довженко</p>
                            <p class="articles__descr">Лечение алкоголизма по методу Довженко</p>
                        </div>
                        <div class="articles__bottom">
                            <span class="articles__date">
                                12.05.23
                            </span>
                            <a href="#" class="articles__link standart-btn arrow-btn">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide articles__item">
                    <picture>
                        <source srcset="assets/img/article/2.webp" type="image/webp">
                        <img src="assets/img/article/2.jpg" alt="">
                    </picture>
                    <div class="articles__item-content">
                        <div class="articles__top">
                            <p class="articles__name">Лечение алкоголизма по методу Довженко</p>
                            <p class="articles__descr">Лечение алкоголизма по методу Довженко</p>
                        </div>
                        <div class="articles__bottom">
                            <span class="articles__date">
                                12.05.23
                            </span>
                            <a href="#" class="articles__link standart-btn arrow-btn">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide articles__item">
                    <picture>
                        <source srcset="assets/img/article/2.webp" type="image/webp">
                        <img src="assets/img/article/2.jpg" alt="">
                    </picture>
                    <div class="articles__item-content">
                        <div class="articles__top">
                            <p class="articles__name">Лечение алкоголизма по методу Довженко</p>
                            <p class="articles__descr">Лечение алкоголизма по методу Довженко</p>
                        </div>
                        <div class="articles__bottom">
                            <span class="articles__date">
                                12.05.23
                            </span>
                            <a href="#" class="articles__link standart-btn arrow-btn">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pag articles__swiper-pag">
            <div class="swiper-pagination articles__pagination"></div>
        </div>
    </div>
</section>