<div class="choice">
    <div class="container">
        <div class="choice__inner">
            <div class="choice__content">
                <p class="choice__title">Не знаете, какое лечение выбрать? Бесплатный подбор лечения!</p>
                <p class="choice__subtitle">Оставьте свои данные, и наши специалисты перезвонят вам в течение 15 минут</p>
            </div>
            <form class="choice__form form">
                <input type="text" placeholder="Имя" class="form__input choice__input" required>
                <input type="tel" placeholder="+7(___)___-__-__" class="form__input choice__input" required>
                <button type="submit" class="standart-btn primary-btn form__btn choice__form-btn">Перезвонить мне</button>
                <p class="choice__politic">Мы обеспечиваем полную <a href="#">конфиденциальность</a> вашей личности</p>
            </form>
        </div>
    </div>
</div>