<div class="consultation section-offset">
    <div class="container consultation__container">
        <span class="consultation__bg"></span>
        <div class="consultation__inner animation-item">
            <div class="consultation__content">
                <p class="consultation__title">Оставьте заявку и получите <span>бесплатную</span> консультацию</p>
                <p class="consultation__subtitle">Все звонки анонимы. Позвоните сейчас и получите бесплатную анонимную консультацию</p>
                <a href="tel:+78889999999" class="consultation__phone">8 (888) 999-99-99</a>
            </div>
            <div class="consultation__item">
                <p class="consultation__item-title">
                    Заполните форму, и мы перезвоним в течение 15 минут
                </p>
                <form class="consultation__form form">
                    <input type="text" placeholder="Имя" class="form__input consultation__input" required>
                    <input type="tel" placeholder="+7(___)___-__-__" class="form__input consultation__input" required>
                    <button type="submit" class="standart-btn primary-btn form__btn consultation__btn">Перезвонить мне</button>
                    <p class="consultation__politic">Мы обеспечиваем полную <a href="#">конфиденциальность</a> вашей личности</p>
                </form>
            </div>
        </div>
    </div>
</div>