<div class="content section-offset">
    <div class="container">
        <div class="content__inner">
            <div class="content__item">
                <p class="content__title section-title">Содержание страницы</p>
                <div class="content__elem">
                    <p class="content__elem-title">Нет времени читать?</p>
                    <p class="content__elem-subtitle">Бесплатно проконсультируйтесь с врачом по телефону:</p>
                    <a href="tel:+78889999999" class="content__phone">8 (888) 999-99-99</a>
                </div>
            </div>
            <div class="content__list content-list-js">
                <ul></ul>
            </div>
        </div>
        <div class="content__checked">
            <div class="content__checked-item">
                <div class="content__checked-top">
                    <p>Статью на странице проверил врач:</p>
                    <span>02.06.2024</span>
                </div>
                <div class="content__card">
                    <picture class="content__picture">
                        <source srcset="assets/img/doctors/checked.webp" type="image/webp">
                        <img src="assets/img/doctors/checked.jpg" alt="" loading="lazy">
                    </picture>
                    <div class="content__card-item">
                        <a href="#" class="content__name">Королькова Ольга Николаевна</a>
                        <ul class="content__info">
                            <li>
                                <picture>
                                    <source srcset="assets/img/icons/doc-blue.svg" type="image/svg+xml">
                                    <img src="assets/img/icons/doc-blue.png" alt="" loading="lazy">
                                </picture>
                                <p>Главный врач, психиатр-нарколог, психотерапевт</p>
                        </li>
                        <li>
                            <picture>
                                <source srcset="assets/img/icons/calendar-blue.svg" type="image/svg+xml">
                                <img src="assets/img/icons/calendar-blue.png" alt="" loading="lazy">
                            </picture>
                            <p>Стаж работы: 14 лет</p>
                    </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content__checked-item">
                <div class="content__checked-top">
                    <p>Статью на странице написал врач:</p>
                    <span>02.06.2024</span>
                </div>
                <div class="content__card">
                    <picture class="content__picture">
                        <source srcset="assets/img/doctors/checked.webp" type="image/webp">
                        <img src="assets/img/doctors/checked.jpg" alt="" loading="lazy">
                    </picture>
                    <div class="content__card-item">
                        <a href="#" class="content__name">Королькова Ольга Николаевна</a>
                        <ul class="content__info">
                            <li>
                                <picture>
                                    <source srcset="assets/img/icons/doc-blue.svg" type="image/svg+xml">
                                    <img src="assets/img/icons/doc-blue.png" alt="" loading="lazy">
                                </picture>
                                <p>Главный врач, психиатр-нарколог, психотерапевт</p>
                        </li>
                        <li>
                            <picture>
                                <source srcset="assets/img/icons/calendar-blue.svg" type="image/svg+xml">
                                <img src="assets/img/icons/calendar-blue.png" alt="" loading="lazy">
                            </picture>
                            <p>Стаж работы: 14 лет</p>
                    </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>