<section class="directions section-offset">
    <div class="container">
        <div class="section-top">
            <h2 class="section-title">
                Направления деятельности клиники
            </h2>
            <a href="#" class="section-link directions__link-all">Все услуги</a>
        </div>
        <div class="directions__inner tabs">
            <div class="directions__buttons">
                <button class="tab directions__button">
                    <span>Алкоголизм</span>
                    <picture class="directions__icons">
                        <source srcset="assets/img/icons/directions/vine.svg" type="image/svg+xml">
                        <img src="assets/img/icons/directions/vine.png" alt="" loading="lazy">
                    </picture>
                </button>
                <button class="tab directions__button">
                    <span>Наркомания</span>
                    <picture class="directions__icons">
                        <source srcset="assets/img/icons/directions/pill.svg" type="image/svg+xml">
                        <img src="assets/img/icons/directions/pill.png" alt="" loading="lazy">
                    </picture>
                </button>
                <button class="tab directions__button">
                    <span>Наркологическая помощь</span>
                    <picture class="directions__icons">
                        <source srcset="assets/img/icons/directions/med.svg" type="image/svg+xml">
                        <img src="assets/img/icons/directions/med.png" alt="" loading="lazy">
                    </picture>
                </button>
                <button class="tab directions__button">
                    <span>Токсикология</span>
                    <picture class="directions__icons">
                        <source srcset="assets/img/icons/directions/med2.svg" type="image/svg+xml">
                        <img src="assets/img/icons/directions/med2.png" alt="" loading="lazy">
                    </picture>
                </button>
                <button class="tab directions__button">
                    <span>Реабилитация</span>
                    <picture class="directions__icons">
                        <source srcset="assets/img/icons/directions/bed.svg" type="image/svg+xml">
                        <img src="assets/img/icons/directions/bed.png" alt="" loading="lazy">
                    </picture>
                </button>
                <button class="tab directions__button">
                    <span>Психотерапия</span>
                    <picture class="directions__icons">
                        <source srcset="assets/img/icons/directions/building.svg" type="image/svg+xml">
                        <img src="assets/img/icons/directions/building.png" alt="" loading="lazy">
                    </picture>
                </button>
            </div>
            <div class="directions__contents">
                <div class="tab-content directions__content">
                    <div class="directions__top">
                        <span class="directions__name">Алкоголизм</span>
                        <span class="directions__count">32 услуги</span>
                    </div>
                    <div class="directions__list">
                        <ul>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                        </ul>
                    </div>
                    <a href="#" class="directions__content-link">Полный список услуг <span>/32 услуги</span></a>
                </div>
                <div class="tab-content directions__content">
                    <div class="directions__top">
                        <span class="directions__name">Наркомания</span>
                        <span class="directions__count">24 услуги</span>
                    </div>
                    <div class="directions__list">
                        <ul>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                        </ul>
                    </div>
                    <a href="#" class="directions__content-link">Полный список услуг <span>/32 услуги</span></a>
                </div>
                <div class="tab-content directions__content">
                    <div class="directions__top">
                        <span class="directions__name">Наркологическая помощь</span>
                        <span class="directions__count">24 услуги</span>
                    </div>
                    <div class="directions__list">
                        <ul>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                        </ul>
                    </div>
                    <a href="#" class="directions__content-link">Полный список услуг <span>/32 услуги</span></a>
                </div>
                <div class="tab-content directions__content">
                    <div class="directions__top">
                        <span class="directions__name">Токсикология</span>
                        <span class="directions__count">24 услуги</span>
                    </div>
                    <div class="directions__list">
                        <ul>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                        </ul>
                    </div>
                    <a href="#" class="directions__content-link">Полный список услуг <span>/32 услуги</span></a>
                </div>
                <div class="tab-content directions__content">
                    <div class="directions__top">
                        <span class="directions__name">Реабилитация</span>
                        <span class="directions__count">24 услуги</span>
                    </div>
                    <div class="directions__list">
                        <ul>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                        </ul>
                    </div>
                    <a href="#" class="directions__content-link">Полный список услуг <span>/32 услуги</span></a>
                </div>
                <div class="tab-content directions__content">
                    <div class="directions__top">
                        <span class="directions__name">Психотерапия</span>
                        <span class="directions__count">24 услуги</span>
                    </div>
                    <div class="directions__list">
                        <ul>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                        </ul>
                    </div>
                    <a href="#" class="directions__content-link">Полный список услуг <span>/32 услуги</span></a>
                </div>
            </div>
        </div>
    </div>
</section>