<section class="section-offset doctors">
    <div class="container swiper-container">
        <h2 class="section-title swiper-title">
            Наши врачи
        </h2> 
        <div class="section-descr swiper-descr">
            Врачи центра реабилитации Новый Ресурс — это команда опытных специалистов, объединённых общей целью: помочь
            каждому пациенту вернуть контроль над своей жизнью. Наши эксперты используют современные методы лечения и
            индивидуальный подход, обеспечивая поддержку на всех этапах восстановления. Мы работаем с уважением и
            пониманием, создавая комфортные условия для эффективной реабилитации. В нашем реабилитационном центре
            здоровье и благополучие пациентов всегда на первом месте.</div>
        <div class="doctors__inner swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide doctors__item">
                    <picture class="doctors__picture">
                        <source srcset="assets/img/doctors/1.webp" type="image/webp">
                        <img src="assets/img/doctors/1.jpg" alt="" loading="lazy">
                    </picture>
                    <p class="doctors__name">
                        Максима Маргарита Романовна
                    </p>
                    <span class="doctors__stage">9 лет работы в наркологии</span>
                    <p class="doctors__post">
                        Заведующий отделением реабилитации, нарколог Заведующий отделением реабилитации, нарколог
                    </p>
                    <a href="#" class="standart-btn primary-btn doctors__link">Подробнее</a>
                </div>
                <div class="swiper-slide doctors__item">
                    <picture class="doctors__picture">
                        <source srcset="assets/img/doctors/1.webp" type="image/webp">
                        <img src="assets/img/doctors/1.jpg" alt="" loading="lazy">
                    </picture>
                    <p class="doctors__name">
                        Иванов Иван Иванович
                    </p>
                    <span class="doctors__stage">9 лет работы в наркологии</span>
                    <p class="doctors__post">
                        Заведующий отделением реабилитации, нарколог Заведующий отделением реабилитации, нарколог
                    </p>
                    <a href="#" class="standart-btn primary-btn doctors__link">Подробнее</a>
                </div>
                <div class="swiper-slide doctors__item">
                    <picture class="doctors__picture">
                        <source srcset="assets/img/doctors/1.webp" type="image/webp">
                        <img src="assets/img/doctors/1.jpg" alt="" loading="lazy">
                    </picture>
                    <p class="doctors__name">
                        Иванов Иван Иванович
                    </p>
                    <span class="doctors__stage">9 лет работы в наркологии</span>
                    <p class="doctors__post">
                        Заведующий отделением реабилитации, нарколог
                    </p>
                    <a href="#" class="standart-btn primary-btn doctors__link">Подробнее</a>
                </div>
                <div class="swiper-slide doctors__item">
                    <picture class="doctors__picture">
                        <source srcset="assets/img/doctors/1.webp" type="image/webp">
                        <img src="assets/img/doctors/1.jpg" alt="" loading="lazy">
                    </picture>
                    <p class="doctors__name">
                        Иванов Иван Иванович
                    </p>
                    <span class="doctors__stage">9 лет работы в наркологии</span>
                    <p class="doctors__post">
                        Заведующий отделением реабилитации, нарколог
                    </p>
                    <a href="#" class="standart-btn primary-btn doctors__link">Подробнее</a>
                </div>
                <div class="swiper-slide doctors__item">
                    <picture class="doctors__picture">
                        <source srcset="assets/img/doctors/1.webp" type="image/webp">
                        <img src="assets/img/doctors/1.jpg" alt="" loading="lazy">
                    </picture>
                    <p class="doctors__name">
                        Иванов Иван Иванович
                    </p>
                    <span class="doctors__stage">9 лет работы в наркологии</span>
                    <p class="doctors__post">
                        Заведующий отделением реабилитации, нарколог
                    </p>
                    <a href="#" class="standart-btn primary-btn doctors__link">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="swiper-pag doctors__swiper-pag">
            <div class="swiper-pagination doctors__pagination"></div>
        </div>
    </div>
</section>