<section class="section-offset doctors section-pt section-pb">
    <div class="container swiper-container ">
        <h2 class="section-title swiper-title doctors__title">
            Наши специалисты — <span>гордость клиники</span>
        </h2>
        <div class="swiper-inner swiper-inner--basic doctors__swiper-inner">
            <div class="swiper doctors-swiper swiper--basic">
                <div class="swiper-wrapper swiper-wrapper--basic">
                    <div class="swiper-slide doctors__item change-item">
                        <picture class="doctors__picture">
                            <source srcset="assets/img/doctors/1.webp" type="image/webp">
                            <img src="assets/img/doctors/1.jpg" alt="" loading="lazy">
                        </picture>
                        <div class="doctors__label">СТАЖ: 18 ЛЕТ</div>
                        <div class="doctors__content">
                            <p class="doctors__name change-item__title">
                                Дзгоев Алан Георгиевич
                            </p>
                            <p class="doctors__post">
                                Главный врач, Нарколог
                            </p>
                            <div class="doctors__info">
                                <div class="doctors__raiting raiting-inner" data-rating="5.0">
                                    <span class="doctors__raiting raiting-inner-number">5.0</span>
                                    <div class="raiting__stars rating"></div>
                                </div>
                                <div class="doctors__sum-reviews">(42 отзыва)</div>
                            </div>
                            <p class="doctors__descr">Специализируется на тяжелых случаях вывода
                                из запоя и кодировании методом Довженко.</p>
                            <div class="doctors__bottom">
                                <span class="doctors__category">Высшая категория</span>
                                <span class="doctors__license">Лицензия РФ</span>
                            </div>
                            <div class="doctors__actions">
                                <button class="standart-btn popup-btn primary-btn change-item__btn doctors__btn-js doctors__btn"
                                    data-path="popup-change">
                                    Записаться
                                </button>
                                <a href="#" class="standart-btn secondary-btn doctors__link doctors__btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide doctors__item change-item">
                        <picture class="doctors__picture">
                            <source srcset="assets/img/doctors/2.webp" type="image/webp">
                            <img src="assets/img/doctors/2.jpg" alt="" loading="lazy">
                        </picture>
                        <div class="doctors__label">СТАЖ: 18 ЛЕТ</div>
                        <div class="doctors__content">
                            <p class="doctors__name change-item__title">
                                Плиева Марина Владимировна
                            </p>
                            <p class="doctors__post">
                                Психотерапевт
                            </p>
                            <div class="doctors__info">
                                <div class="doctors__raiting raiting-inner" data-rating="4">
                                    <span class="doctors__raiting raiting-inner-number">4</span>
                                    <div class="raiting__stars rating"></div>
                                </div>
                                <div class="doctors__sum-reviews">(28 отзывов)</div>
                            </div>
                            <p class="doctors__descr">Специализируется на тяжелых случаях вывода
                                из запоя и кодировании методом Довженко.</p>
                             <div class="doctors__bottom">
                                <span class="doctors__category">Высшая категория</span>
                                <span class="doctors__license">Лицензия РФ</span>
                            </div>
                            <div class="doctors__actions">
                                <button class="standart-btn popup-btn primary-btn change-item__btn doctors__btn-js doctors__btn"
                                    data-path="popup-change">
                                    Записаться
                                </button>
                                <a href="#" class="standart-btn secondary-btn doctors__link doctors__btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide doctors__item change-item">
                        <picture class="doctors__picture">
                            <source srcset="assets/img/doctors/3.webp" type="image/webp">
                            <img src="assets/img/doctors/3.jpg" alt="" loading="lazy">
                        </picture>
                        <div class="doctors__label">СТАЖ: 18 ЛЕТ</div>
                        <div class="doctors__content">
                            <p class="doctors__name change-item__title">
                                Алборов Сослан Ибрагимович
                            </p>
                            <p class="doctors__post">
                                Врач выездной службы
                            </p>
                            <div class="doctors__info">
                                <div class="doctors__raiting raiting-inner" data-rating="3">
                                    <span class="doctors__raiting raiting-inner-number">3</span>
                                    <div class="raiting__stars rating"></div>
                                </div>
                                <div class="doctors__sum-reviews">(15 отзывов)</div>
                            </div>
                            <p class="doctors__descr">Специализируется на тяжелых случаях вывода
                                из запоя и кодировании методом Довженко.</p>
                             <div class="doctors__bottom">
                                <span class="doctors__category">Высшая категория</span>
                                <span class="doctors__license">Лицензия РФ</span>
                            </div>
                            <div class="doctors__actions">
                                <button class="standart-btn popup-btn primary-btn change-item__btn doctors__btn-js doctors__btn"
                                    data-path="popup-change">
                                    Записаться
                                </button>
                                <a href="#" class="standart-btn secondary-btn doctors__link doctors__btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide doctors__item change-item">
                        <picture class="doctors__picture">
                            <source srcset="assets/img/doctors/1.webp" type="image/webp">
                            <img src="assets/img/doctors/1.jpg" alt="" loading="lazy">
                        </picture>
                        <div class="doctors__label">СТАЖ: 18 ЛЕТ</div>
                        <div class="doctors__content">
                            <p class="doctors__name change-item__title">
                                Дзгоев Алан Георгиевич
                            </p>
                            <p class="doctors__post">
                                Главный врач, Нарколог
                            </p>
                            <div class="doctors__info">
                                <div class="doctors__raiting raiting-inner" data-rating="4.9">
                                    <span class="doctors__raiting raiting-inner-number">4.9</span>
                                    <div class="raiting__stars rating"></div>
                                </div>
                                <div class="doctors__sum-reviews">(35 отзывов)</div>
                            </div>
                            <p class="doctors__descr">Специализируется на тяжелых случаях вывода
                                из запоя и кодировании методом Довженко.</p>
                             <div class="doctors__bottom">
                                <span class="doctors__category">Высшая категория</span>
                                <span class="doctors__license">Лицензия РФ</span>
                            </div>
                            <div class="doctors__actions">
                                <button class="standart-btn popup-btn primary-btn change-item__btn doctors__btn-js doctors__btn"
                                    data-path="popup-change">
                                    Записаться
                                </button>
                                <a href="#" class="standart-btn secondary-btn doctors__link doctors__btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide doctors__item change-item">
                        <picture class="doctors__picture">
                            <source srcset="assets/img/doctors/2.webp" type="image/webp">
                            <img src="assets/img/doctors/2.jpg" alt="" loading="lazy">
                        </picture>
                        <div class="doctors__label">СТАЖ: 18 ЛЕТ</div>
                        <div class="doctors__content">
                            <p class="doctors__name change-item__title">
                                Дзгоев Алан Георгиевич
                            </p>
                            <p class="doctors__post">
                                Главный врач, Нарколог
                            </p>
                            <div class="doctors__info">
                                <div class="doctors__raiting raiting-inner" data-rating="5.0">
                                    <span class="doctors__raiting raiting-inner-number">5.0</span>
                                    <div class="raiting__stars rating"></div>
                                </div>
                                <div class="doctors__sum-reviews">(50 отзывов)</div>
                            </div>
                            <p class="doctors__descr">Специализируется на тяжелых случаях вывода
                                из запоя и кодировании методом Довженко.</p>
                             <div class="doctors__bottom">
                                <span class="doctors__category">Высшая категория</span>
                                <span class="doctors__license">Лицензия РФ</span>
                            </div>
                            <div class="doctors__actions">
                                <button class="standart-btn popup-btn primary-btn change-item__btn doctors__btn-js doctors__btn"
                                    data-path="popup-change">
                                    Записаться
                                </button>
                                <a href="#" class="standart-btn secondary-btn doctors__link doctors__btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-buttons swiper-buttons--basic doctors__swiper-buttons">
                <div class="swiper-button-prev doctors-swiper__button-prev swiper-button button-prev"></div>
                <div class="swiper-button-next doctors-swiper__button-next swiper-button button-next"></div>
            </div>
            <div class="doctors__pagination swiper-pagination"></div>
        </div>
        <a href="#" class="standart-btn primary-btn all-doctors__link">Все специалисты</a>
    </div>
</section>