<section class="faq section-offset">
    <div class="container">
        <ul class="faq__inner">
            <div class="faq__header">
                <h2 class="section-title faq__title">Часто задаваемые <span>вопросы</span></h2>
                <div class="section-descr faq__descr">У вас остались вопросы? Мы собрали ответы на самые частые из них —
                    от
                    анонимности и стоимости до нюансов лечения и посещений в стационаре.</div>
                <button class="standart-btn primary-btn popup-btn faq__btn" data-path="popup-change">Задать вопрос врачу</button>
            </div>
            <div class="faq__items hide-items">
                <div class="faq__item hide-item" style="display: block;">
                    <div class="faq__item-title hide-item__title ">
                        Как выбрать подходящую клинику для лечения психических расстройств?
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="22" viewBox="0 0 12 22"
                                fill="none">
                                <path d="M1 21L11 11L1 1" stroke="#3C3238" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                    <div class="hide-item__content">
                        <div class="faq__text hide-item_max-height">
                            <p>Важно обращать внимание на репутацию клиники, квалификацию
                                врачей, наличие необходимого оборудования и
                                методик лечения, а также удобство расположения.</p>
                        </div>
                    </div>
                </div>
                <div class="faq__item hide-item" style="display: block;">
                    <div class="faq__item-title hide-item__title ">
                        Какова стоимость консультации психиатра в вашей клинике?
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="22" viewBox="0 0 12 22"
                                fill="none">
                                <path d="M1 21L11 11L1 1" stroke="#3C3238" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                    <div class="hide-item__content">
                        <div class="faq__text hide-item_max-height">
                            <p>Стоимость консультации может варьироваться в зависимости от
                                клиники и опыта специалиста. Для уточнения
                                актуальных цен следует обращаться непосредственно в выбранную
                                клинику.</p>
                        </div>
                    </div>
                </div>
                <div class="faq__item hide-item" style="display: block;">
                    <div class="faq__item-title hide-item__title ">
                        Как часто я должен посещать психиатра во время лечения?
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="22" viewBox="0 0 12 22"
                                fill="none">
                                <path d="M1 21L11 11L1 1" stroke="#3C3238" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                    <div class="hide-item__content">
                        <div class="faq__text hide-item_max-height">
                            Частота посещений зависит от индивидуальных особенностей пациента
                            и рекомендаций врача. Обычно начальные
                            консультации проводятся чаще, затем интервалы могут увеличиваться.
                        </div>
                    </div>
                </div>
                <div class="faq__item hide-item" style="display: block;">
                    <div class="faq__item-title hide-item__title ">
                        Какие виды психических расстройств вы лечите?
                        <div><svg xmlns="http://www.w3.org/2000/svg" width="12" height="22" viewBox="0 0 12 22"
                                fill="none">
                                <path d="M1 21L11 11L1 1" stroke="#3C3238" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                    <div class="hide-item__content">
                        <div class="faq__text hide-item_max-height">
                            Наши специалисты обладают опытом в лечении широкого спектра
                            психических расстройств, включая депрессию,
                            тревожные расстройства, шизофрению, биполярное расстройство и
                            другие.
                        </div>
                    </div>
                </div>
                <div class="faq__item hide-item" style="display: block;">
                    <div class="faq__item-title hide-item__title ">
                        Как выбрать подходящую клинику для лечения психических расстройств?
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="22" viewBox="0 0 12 22"
                                fill="none">
                                <path d="M1 21L11 11L1 1" stroke="#3C3238" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                    <div class="hide-item__content">
                        <div class="faq__text hide-item_max-height">
                            <p>Важно обращать внимание на репутацию клиники, квалификацию
                                врачей, наличие необходимого оборудования и
                                методик лечения, а также удобство расположения.</p>
                        </div>
                    </div>
                </div>
                <div class="faq__item hide-item" style="display: block;">
                    <div class="faq__item-title hide-item__title ">
                        Как выбрать подходящую клинику для лечения психических расстройств?
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="22" viewBox="0 0 12 22"
                                fill="none">
                                <path d="M1 21L11 11L1 1" stroke="#3C3238" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                    <div class="hide-item__content">
                        <div class="faq__text hide-item_max-height">
                            <p>Важно обращать внимание на репутацию клиники, квалификацию
                                врачей, наличие необходимого оборудования и
                                методик лечения, а также удобство расположения.</p>
                        </div>
                    </div>
                </div>
                <div class="faq__item hide-item" style="display: none;">
                    <div class="faq__item-title hide-item__title ">
                        Стоимость пребывания в психиатрическом стационаре?
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="22" viewBox="0 0 12 22"
                                fill="none">
                                <path d="M1 21L11 11L1 1" stroke="#3C3238" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                    <div class="hide-item__content">
                        <div class="faq__text hide-item_max-height">
                            Стоимость пребывания в стационаре зависит от ряда факторов,
                            включая диагноз, продолжительность лечения и
                            условия размещения. Рекомендуем уточнять эту информацию в
                            выбранной клинике.
                        </div>
                    </div>
                </div>
                <div class="faq__item hide-item" style="display: none;">
                    <div class="faq__item-title hide-item__title ">
                        Какие методы лечения используются в психиатрической клинике?
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="22" viewBox="0 0 12 22"
                                fill="none">
                                <path d="M1 21L11 11L1 1" stroke="#3C3238" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                    <div class="hide-item__content">
                        <div class="faq__text hide-item_max-height">
                            Наши специалисты применяют комбинацию методов, включая
                            психотерапию, фармакотерапию, реабилитационные
                            программы и другие инновационные подходы.
                        </div>
                    </div>
                </div>
                <div class="faq__item hide-item" style="display: none;">
                    <div class="faq__item-title hide-item__title ">
                        Какие признаки указывают на начинающееся заболевание или обострение
                        психических расстройств? Как понять, что
                        нужно обратиться к специалисту?
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="22" viewBox="0 0 12 22"
                                fill="none">
                                <path d="M1 21L11 11L1 1" stroke="#3C3238" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                    <div class="hide-item__content">
                        <div class="faq__text hide-item_max-height">
                            Признаки могут варьироваться в зависимости от конкретного
                            расстройства, но общие симптомы могут включать
                            изменения в настроении, поведении, соне, аппетите и т.д. Если вы
                            замечаете подобные изменения у себя или
                            близких, важно обратиться к специалисту для оценки ситуации.
                        </div>
                    </div>
                </div>
                <div class="faq__item hide-item" style="display: none;">
                    <div class="faq__item-title hide-item__title ">
                        Возможно ли принудительное лечение в психиатрической клинике?
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="22" viewBox="0 0 12 22"
                                fill="none">
                                <path d="M1 21L11 11L1 1" stroke="#3C3238" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                    <div class="hide-item__content">
                        <div class="faq__text hide-item_max-height">
                            Принудительное лечение может быть применено в случае, если человек
                            представляет угрозу для себя или
                            окружающих и если это соответствует законодательству.
                        </div>
                    </div>
                </div>
                <div class="faq__item hide-item" style="display: none;">
                    <div class="faq__item-title hide-item__title ">
                        Как предотвратить суицид у близкого? Как отследить суицидальное
                        поведение?
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="22" viewBox="0 0 12 22"
                                fill="none">
                                <path d="M1 21L11 11L1 1" stroke="#3C3238" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                    <div class="hide-item__content">
                        <div class="faq__text hide-item_max-height">
                            Важно обращать внимание на изменения в поведении и настроении
                            близкого человека, поддерживать открытый
                            диалог и по возможности обратиться за помощью к специалистам.
                        </div>
                    </div>
                </div>
                <div class="faq__item hide-item" style="display: none;">
                    <div class="faq__item-title hide-item__title ">
                        Соблюдается ли врачебная тайна в вашей клинике?
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="22" viewBox="0 0 12 22"
                                fill="none">
                                <path d="M1 21L11 11L1 1" stroke="#3C3238" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                    <div class="hide-item__content">
                        <div class="faq__text hide-item_max-height">
                            Да, в нашей клинике мы строго соблюдаем врачебную тайну и
                            конфиденциальность информации о пациентах.
                        </div>
                    </div>
                </div>
                <div class="faq__item hide-item" style="display: none;">
                    <div class="faq__item-title hide-item__title ">
                        Как получить справку от психиатра?
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="22" viewBox="0 0 12 22"
                                fill="none">
                                <path d="M1 21L11 11L1 1" stroke="#3C3238" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                    <div class="hide-item__content">
                        <div class="faq__text hide-item_max-height">
                            Справки могут быть выданы после консультации с психиатром. Для
                            получения подробной информации о процедуре
                            и необходимых документах следует обратиться в клинику.
                        </div>
                    </div>
                </div>
                <div class="faq__item hide-item" style="display: none;">
                    <div class="faq__item-title hide-item__title ">
                        Какие препараты используются в лечении? Это безопасно?
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="22" viewBox="0 0 12 22"
                                fill="none">
                                <path d="M1 21L11 11L1 1" stroke="#3C3238" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                    <div class="hide-item__content">
                        <div class="faq__text hide-item_max-height">
                            Применяемые препараты выбираются врачом с учетом индивидуальных
                            особенностей пациента и безопасности.
                            Всегда важно следовать рекомендациям специалиста и соблюдать режим
                            приема.
                        </div>
                    </div>
                </div>
                <div class="faq__item hide-item" style="display: none;">
                    <div class="faq__item-title hide-item__title ">
                        Можно ли получить в вашей клинике рецепт на антидепрессанты?
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="22" viewBox="0 0 12 22"
                                fill="none">
                                <path d="M1 21L11 11L1 1" stroke="#3C3238" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                    <div class="hide-item__content">
                        <div class="faq__text hide-item_max-height">
                            Да, наши психиатры могут выписать рецепты на необходимые
                            препараты, включая антидепрессанты, при
                            необходимости после проведения консультации и диагностики.
                        </div>
                    </div>
                </div>
            </div>
        </ul>
    </div>
</section>