<footer class="footer" id="footer">
    <div class="container footer-container">
        <div class="footer-top">
            <div class="footer-top__wrap">
                <div class="footer-top__wrap-item">
                    <a href="index.html" class="footer__logo logo">
                        <picture class="footer__logo-picture logo__picture">
                            <source srcset="assets/img/icons/logo.svg" type="image/svg+xml">
                            <img src="assets/img/icons/logo.png" alt="">
                        </picture>
                    </a>
                    <p class="footer__logo-description">ООО «ЮгЭкоСервис+» ИНН 6161094681/616301001 ОГРН 1216100020718
                        Лицензия Л041-01050-61/00347983 от 28.12.2021</p>
                    <p class="footer__logo-license">Лицензия: Л041-01050-61/0034798</p>
                </div>

                <div class="footer-top__wrap-item">
                    <span>Телефоны:</span>
                    <a class="footer__phone" href="tel:+79999999999">8 (999) 999-99-99</a>
                    <a class="footer__phone" href="tel:+79999999999">8 (999) 999-99-99</a>
                    <div class="social__wrap">
                        <a href="#" class="social__item social-wa">
                            Whatsapp
                        </a>
                        <a href="#" class="social__item social-tg">
                            Telegram
                        </a>
                    </div>
                </div>
                <div class="footer-top__wrap-item">
                    <span>Адрес:</span>
                    <p class="footer__address"><button class="header__city popup-btn"
                            data-path="popup-city">Ростов-на-Дону,</button>
                        ул. Красноармейская, д. 227</p>
                    <a href="#" class="standart-btn arrow-btn footer__route-link">Построить маршрут</a>
                </div>
                <div class="footer-top__wrap-item">
                    <span>Часы работы:</span>
                    <p class="footer__hours">Круглосуточно</p>
                </div>
                <div class="footer-top__wrap-item">
                    <span>E-mail:</span>
                    <a class="footer__email" href="mailto:info@new-resource.clinic">info@new-resource.clinic</a>
                </div>
            </div>
        </div>
        <div class="footer-center">
            <div class="footer-nav__inner">
                <nav class="footer-nav">
                    <div class="nav-column nav-column-1">
                        <div class="nav-column__top">
                            <span class="nav-column__title">Навигация</span>
                            <button class="footer-nav-panel-btn">
                                <picture>
                                    <source srcset="assets/img/icons/arrow-primary.svg" type="image/svg+xml" />
                                    <img src="assets/img/icons/arrow-primary.png" />
                                </picture>
                            </button>
                        </div>
                        <ul class="nav-column__list footer-nav-panel-list active">
                            <li><a  href="#">О клинике</a></li>
                            <li><a  href="#">Отзывы</a></li>
                            <li><a  href="#">Услуги</a></li>
                            <li><a  href="#">Статьи</a></li>
                            <li><a  href="#">Акции</a></li>
                            <li><a  href="#">FAQ</a></li>
                            <li><a  href="#">Врачи</a></li>
                            <li><a  href="#">Контакты</a></li>
                            <li><a  href="#">Цены</a></li>
                        </ul>
                    </div>

                    <div class="nav-column nav-column-2">
                        <div class="nav-column__top">
                            <span class="nav-column__title">Психолог</span>
                            <button class="footer-nav-panel-btn">
                                <picture>
                                    <source srcset="assets/img/icons/arrow-primary.svg" type="image/svg+xml" />
                                    <img src="assets/img/icons/arrow-primary.png" />
                                </picture>
                            </button>
                        </div>
                        <ul class="nav-column__list footer-nav-panel-list">
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Укол от алкоголизма</a></li>
                            <li><a href="#">Укол от алкоголизма</a></li>
                            <li><a href="#">Укол от алкоголизма</a></li>
                            <li><a href="#">Укол от алкоголизма</a></li>
                            <li><a href="#">Торпеда от алкоголизма</a></li>
                        </ul>
                    </div>

                    <div class="nav-column nav-column-3">
                        <div class="nav-column__top">
                            <span class="nav-column__title ">Врач-психиатр</span>
                            <button class="footer-nav-panel-btn">
                                <picture>
                                    <source srcset="assets/img/icons/arrow-primary.svg" type="image/svg+xml" />
                                    <img src="assets/img/icons/arrow-primary.png" />
                                </picture>
                            </button>
                        </div>
                        <ul class="nav-column__list footer-nav-panel-list">
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Укол от алкоголизма</a></li>
                            <li><a href="#">Укол от алкоголизма</a></li>
                            <li><a href="#">Укол от алкоголизма</a></li>
                            <li><a href="#">Укол от алкоголизма</a></li>
                            <li><a href="#">Торпеда от алкоголизма</a></li>
                        </ul>
                    </div>

                    <div class="nav-column nav-column-4">
                        <div class="nav-column__top">
                            <span class="nav-column__title">Психиатрическая помощь</span>
                            <button class="footer-nav-panel-btn">
                                <picture>
                                    <source srcset="assets/img/icons/arrow-primary.svg" type="image/svg+xml" />
                                    <img src="assets/img/icons/arrow-primary.png" />
                                </picture>
                            </button>
                        </div>
                        <ul class="nav-column__list footer-nav-panel-list">
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Укол от алкоголизма</a></li>
                            <li><a href="#">Укол от алкоголизма</a></li>
                            <li><a href="#">Укол от алкоголизма</a></li>
                            <li><a href="#">Укол от алкоголизма</a></li>
                            <li><a href="#">Торпеда от алкоголизма</a></li>
                        </ul>
                    </div>

                    <div class="nav-column nav-column-5">
                        <div class="nav-column__top">
                            <span class="nav-column__title">Психические расстройства</span>
                            <button class="footer-nav-panel-btn">
                                <picture>
                                    <source srcset="assets/img/icons/arrow-primary.svg" type="image/svg+xml" />
                                    <img src="assets/img/icons/arrow-primary.png" />
                                </picture>
                            </button>
                        </div>
                        <ul class="nav-column__list footer-nav-panel-list">
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Укол от алкоголизма</a></li>
                            <li><a href="#">Укол от алкоголизма</a></li>
                            <li><a href="#">Укол от алкоголизма</a></li>
                            <li><a href="#">Укол от алкоголизма</a></li>
                            <li><a href="#">Торпеда от алкоголизма</a></li>
                        </ul>
                    </div>

                </nav>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="footer-disclaimer">
                <p>@ 2024 | Информация, предоставляемая на сайте предназначена для поддержки, а не для замещения
                    существующих
                    отношений между пациентом и лечащим врачом. Все права на сайт принадлежат частной коммерческой
                    компании. На сайте не размещается реклама. Сайт использует cookies</p>
            </div>
        </div>
</footer>