<footer class="footer" id="footer">
    <div class="container footer-container">
        <div class="footer-top">
            <div class="footer-top__wrap">
                <div class="footer-top__wrap-item">
                    <a href="index.html" class="footer__logo logo">
                        <picture class="footer__logo-picture logo__picture">
                            <source srcset="assets/img/icons/logo-white.svg" type="image/svg+xml">
                            <img src="assets/img/icons/logo-white.png" alt="">
                        </picture>
                    </a>
                    <div class="footer__description">
                        <p>Современная наркологическая клиника во Владикавказе. Анонимная
                            помощь 24/7.
                            Лицензированные специалисты и доказательная медицина.</p>
                    </div>
                </div>
                <div class="footer-top__wrap-item">
                    <div class="footer__info-wrap">
                        <a class="footer__phone" href="tel:+7 (8672) 00-00-00">+7 (8672) 00-00-00</a>
                        <div class="footer__mail"> <span>E-mail:</span><a
                                href="malito:info@medgarant.ru">info@medgarant.ru</a></div>
                    </div>
                    <div class="footer-top__social social">
                        <a href="#" class="footer-top__social-item social__item">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="15" viewBox="0 0 18 15"
                                fill="none">
                                <path
                                    d="M7.04503 9.82253L6.77499 13.9735C7.22505 13.9735 7.40508 13.793 7.5851 13.6126L9.56538 11.7175L13.706 14.7857C14.4261 15.2369 14.9661 14.9661 15.2362 14.0638L17.9366 1.34009C18.2066 0.257222 17.5765 -0.193972 16.7664 0.0767445L0.834154 6.12274C-0.245998 6.57394 -0.245998 7.11537 0.654128 7.38609L4.7047 8.64943L14.156 2.69367C14.6061 2.42295 14.9661 2.60343 14.6961 2.87415L7.04503 9.82253Z"
                                    fill="white"></path>
                            </svg>
                        </a>
                        <a href="#" class="footer-top__social-item social__item">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="20" viewBox="0 0 12 20"
                                fill="none">
                                <path
                                    d="M6.08689 0C3.1389 0 0.749135 2.32042 0.749135 5.18271C0.749135 8.04508 3.1389 10.3657 6.08689 10.3657C9.03489 10.3657 11.4246 8.04508 11.4246 5.18271C11.4246 2.32042 9.03489 0 6.08689 0ZM6.08689 7.32528C4.86829 7.32528 3.88038 6.36599 3.88038 5.18279C3.88038 3.99959 4.86829 3.04037 6.08689 3.04037C7.30549 3.04037 8.2934 3.99959 8.2934 5.18279C8.2934 6.36599 7.30549 7.32528 6.08689 7.32528Z"
                                    fill="white"></path>
                                <path
                                    d="M7.97135 14.4895C10.1083 14.0669 11.3888 13.0843 11.4566 13.0315C12.0819 12.5446 12.1823 11.6577 11.6808 11.0505C11.1794 10.4434 10.2661 10.3458 9.64063 10.8327C9.62742 10.8431 8.26162 11.8604 6.0144 11.8618C3.76725 11.8604 2.37258 10.8431 2.35937 10.8327C1.73391 10.3458 0.820554 10.4434 0.319152 11.0505C-0.182328 11.6577 -0.0818787 12.5446 0.543424 13.0315C0.612095 13.085 1.9455 14.0932 4.14231 14.5059L1.08065 17.6127C0.524251 18.1729 0.540979 19.065 1.11801 19.6053C1.39964 19.8689 1.76263 20 2.12532 20C2.50557 20 2.88544 19.8557 3.17021 19.5689L6.01448 16.6271L9.14603 19.588C9.71343 20.138 10.6322 20.1371 11.1985 19.5864C11.7649 19.0357 11.7642 18.1434 11.1969 17.5935L7.97135 14.4895Z"
                                    fill="white"></path>
                                <path
                                    d="M6.0144 11.8618C6.01081 11.8618 6.01791 11.8618 6.0144 11.8619C6.01088 11.8618 6.01799 11.8618 6.0144 11.8618Z"
                                    fill="white"></path>
                            </svg>
                        </a>
                        <a href="#" class="footer-top__social-item social__item">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="11" viewBox="0 0 22 11"
                                fill="none">
                                <path
                                    d="M10.9996 2.90991C9.51291 2.90991 8.30341 4.07177 8.30341 5.49989C8.30341 6.92801 9.51291 8.08984 10.9996 8.08984C12.4863 8.08984 13.6958 6.92797 13.6958 5.49989C13.6958 4.07177 12.4863 2.90991 10.9996 2.90991Z"
                                    fill="white"></path>
                                <path
                                    d="M21.6245 5.09584C21.576 5.0437 20.4166 3.8045 18.5392 2.55461C16.029 0.883376 13.422 0 11 0C8.57804 0 5.97098 0.883376 3.46075 2.55461C1.58339 3.8045 0.42393 5.0437 0.375504 5.09584L0 5.5L0.375504 5.90417C0.42393 5.9563 1.58339 7.1955 3.46075 8.44541C5.97098 10.1166 8.57804 11 11 11C13.422 11 16.029 10.1166 18.5392 8.44541C20.4166 7.1955 21.576 5.9563 21.6245 5.90417L22 5.5L21.6245 5.09584ZM11 9.30398C8.81645 9.30398 7.03995 7.59752 7.03995 5.5C7.03995 3.40244 8.81645 1.69596 11 1.69596C13.1836 1.69596 14.9601 3.40244 14.9601 5.5C14.9601 7.5976 13.1836 9.30398 11 9.30398Z"
                                    fill="white"></path>
                            </svg>
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <div class="footer-center">
            <div class="footer-nav__inner">
                <nav class="footer-nav">
                    <div class="nav-column nav-column-1">
                        <span class="nav-column__title">Вывод из запоя</span>
                        <ul class="nav-column__list">
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Укол от алкоголизма</a></li>
                            <li><a href="#">Укол от алкоголизма</a></li>
                            <li><a href="#">Укол от алкоголизма</a></li>
                            <li><a href="#">Укол от алкоголизма</a></li>
                            <li><a href="#">Торпеда от алкоголизма</a></li>
                        </ul>
                    </div>

                    <div class="nav-column nav-column-2">
                        <span class="nav-column__title">Лечение наркомании</span>
                        <ul class="nav-column__list">
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Укол от алкоголизма</a></li>
                            <li><a href="#">Укол от алкоголизма</a></li>
                            <li><a href="#">Укол от алкоголизма</a></li>
                            <li><a href="#">Укол от алкоголизма</a></li>
                            <li><a href="#">Торпеда от алкоголизма</a></li>
                        </ul>
                    </div>

                    <div class="nav-column nav-column-3">
                        <span class="nav-column__title ">Психиатрия</span>
                        <ul class="nav-column__list">
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Укол от алкоголизма</a></li>
                            <li><a href="#">Укол от алкоголизма</a></li>
                            <li><a href="#">Укол от алкоголизма</a></li>
                            <li><a href="#">Укол от алкоголизма</a></li>
                            <li><a href="#">Торпеда от алкоголизма</a></li>
                        </ul>
                    </div>

                    <div class="nav-column nav-column-4">
                        <span class="nav-column__title">Кодирование</span>
                        <ul class="nav-column__list">
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Укол от алкоголизма</a></li>
                            <li><a href="#">Укол от алкоголизма</a></li>
                            <li><a href="#">Укол от алкоголизма</a></li>
                            <li><a href="#">Укол от алкоголизма</a></li>
                            <li><a href="#">Торпеда от алкоголизма</a></li>
                        </ul>
                    </div>

                    <div class="nav-column nav-column-5">
                        <span class="nav-column__title">Реабилитация</span>
                        <ul class="nav-column__list">
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Укол от алкоголизма</a></li>
                            <li><a href="#">Укол от алкоголизма</a></li>
                            <li><a href="#">Укол от алкоголизма</a></li>
                            <li><a href="#">Укол от алкоголизма</a></li>
                            <li><a href="#">Торпеда от алкоголизма</a></li>
                        </ul>
                    </div>

                </nav>
            </div>
        </div>

        <div class="footer-info">
            <div class="footer-info__item">
                <p>ООО «МедГарант-Алания»</p>
                <p>г. Владикавказ, ул. Ватутина, 50</p>
                <p>Лицензия: ЛО-15-01-000000 от 12.01.2020 г.</p>
            </div>
            <div class="footer-info__item footer-payments">
                <span>Принимаем к оплате:</span>
                <div class="footer-payments__inner">
                    <div class="footer-payments__item">
                        <picture class="footer-payments__icon">
                            <source srcset="assets/img/pay/white-1.svg" type="image/svg+xml" />
                            <img src="assets/img/pay/white-1.png" alt="Наличные" />
                        </picture>
                    </div>

                    <div class="footer-payments__item">
                        <picture class="footer-payments__icon">
                            <source srcset="assets/img/pay/white-2.svg" type="image/svg+xml" />
                            <img src="assets/img/pay/white-2.png" alt="Карты" />
                        </picture>
                    </div>

                    <div class="footer-payments__item">
                        <picture class="footer-payments__icon">
                            <source srcset="assets/img/pay/white-3.svg" type="image/svg+xml" />
                            <img src="assets/img/pay/white-3.png" alt="QR-код" />
                        </picture>
                    </div>

                    <div class="footer-payments__item">
                        <picture class="footer-payments__icon">
                            <source srcset="assets/img/pay/white-4.svg" type="image/svg+xml" />
                            <img src="assets/img/pay/white-4.png" alt="Перевод" />
                        </picture>
                    </div>

                    <div class="footer-payments__item">
                        <picture class="footer-payments__icon">
                            <source srcset="assets/img/pay/white-5.svg" type="image/svg+xml" />
                            <img src="assets/img/pay/white-5.png" alt="Рассрочка" />
                        </picture>
                    </div>

                    <div class="footer-payments__item">
                        <picture class="footer-payments__icon">
                            <source srcset="assets/img/pay/white-6.svg" type="image/svg+xml" />
                            <img src="assets/img/pay/white-6.png" alt="СБП" />
                        </picture>
                    </div>
                </div>
            </div>
            <div class="footer-info__item footer__search">
                <div class="inner-search footer-info__inner-search search search-js ">
                    <form class="search__form">
                      <label class="search__field">
                        <span class="search__icon" aria-hidden="true">
                          <img src="assets/img/icons/loupe.svg" alt="" width="20" height="20">
                        </span>
                        <input type="text" class="search__input search-input-js" placeholder="Поиск по сайту">
                      </label>
                    </form>
                    <div class="search__wrapper">
                      <div class="search__empty search-empty-js" style="display: none;">Ничего не найдено...</div>
                      <p class="search__latin-warning search-latin-warning-js" style="display: none;">Используйте только русские буквы</p>
                      <div class="search__list">
                        <ul>
                          <li style="display: none;" class="search-item-js"> <a class="search-elem-js" href="#">
                              Кодирование
                            </a></li>
                          <li style="display: none;" class="search-item-js"> <a class="search-elem-js" href="#">
                              Алкоголизм
                            </a></li>
                          <li style="display: none;" class="search-item-js"> <a class="search-elem-js" href="#">
                              Наркомания
                            </a></li>
                          <li style="display: none;" class="search-item-js"> <a class="search-elem-js" href="#">
                              Выывод из запоя
                            </a></li>
                          <li style="display: none;" class="search-item-js"> <a class="search-elem-js" href="#">
                              Психиатрия
                            </a></li>
                        </ul>
                      </div>
                      <div class="popular-search search-start-hide-js">
                        <span>Возможно, вас заинтересует</span>
                        <ul>
                          <li><a href="#">Лечение ментальных расстройств</a></li>
                          <li><a href="#">Индивидуальная психотерапия</a></li>
                          <li><a href="#">Принудительное лечение</a></li>
                          <li><a href="#">Вызов терапевта на дом</a></li>
                          <li><a href="#">Психиатрический стационар</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="footer-disclaimer">
            <p>ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ. НЕОБХОДИМА КОНСУЛЬТАЦИЯ СПЕЦИАЛИСТА. 18+</p>
        </div>

        <div class="footer-bottom">
            <div class="footer-bottom__item">
                <p>© 2026 Наркологическая клиника «МедГарант».</p>
            </div>
            <div class="footer-bottom__item footer-bottom__links">
                <a href="#">Политика конфиденциальности</a>
                <a href="#">Согласие на обработку ПД</a>
            </div>
        </div>
</footer>
<button class="scroll-top" type="button" aria-label="Скролл наверх" style="opacity: 1; pointer-events: auto;">
    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="22" viewBox="0 0 12 22" fill="none">
        <path d="M1 21L11 11L1 1" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
</button>
<noindex>
    <div class="bottom-info__wrapper cookie-policy">
        <div class="bottom-info">
            <p class="bottom-info__content">Для анализа посещаемости и улучшения сайта мы применяем файлы cookie и <a
                    href="/soglasie-na-obrabotku-personalnyix-dannyix-s-pomoshhyu-servisa-yandeks/" target="_blank"
                    rel="nofollow, noopener, noreferrer">Яндекс.Метрику</a>. Продолжая пользоваться сайтом, вы даёте
                согласие на обработку ваших данных. Подробная информация: <a
                    href="/soglasie-na-obrabotku-personalnyix-dannyix/" target="_blank"
                    rel="nofollow, noopener, noreferrer">согласие</a> и <a
                    href="/politika-v-otnoshenii-obrabotki-i-zashhityi-personalnyix-dannyix-obshh/" target="_blank"
                    rel="nofollow, noopener, noreferrer">политика на обработку данных</a>, <a
                    href="/politika-konfidenczialnosti/" target="_blank" rel="nofollow, noopener, noreferrer">политика
                    конфиденциальности</a>, <a href="/polzovatelskoe-soglashenie/" target="_blank"
                    rel="nofollow, noopener, noreferrer">пользовательское соглашение</a>.</p>
            <div class="bottom-info__action">
                <button class="bottom-info__button-agree">Согласен(а)</button>
                <button class="bottom-info__button-cross" aria-label="Закрыть"></button>
            </div>
        </div>
    </div>
</noindex>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        function getCookie(name) {
            let matches = document.cookie.match(new RegExp(
                "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
            ));
            return matches ? decodeURIComponent(matches[1]) : undefined;
        }
        const cookiePolicy = document.querySelector('.cookie-policy');
        if (cookiePolicy) {
            if (getCookie('cookie-policyz') != "en") {
                cookiePolicy.style.display = "block";
                setTimeout(() => {
                    cookiePolicy.classList.add('active');
                }, 10);
                const btnsContainer = cookiePolicy.querySelector('.bottom-info__action');
                if (btnsContainer) {
                    const btnsArr = btnsContainer.querySelectorAll('button');
                    btnsArr.forEach(button => {
                        button.addEventListener('click', evt => {
                            cookiePolicy.classList.remove('active');
                            setTimeout(() => {
                                cookiePolicy.style.display = "none";
                            }, 300);
                            document.cookie = "cookie-policyz=en; path=/; max-age=31536000";
                        })
                    })
                }
            } else {
                cookiePolicy.style.display = "none";
            }
        }
    })
</script>
<style>
    .bottom-info__wrapper {
        position: fixed;
        inset: auto 0 0 0;
        z-index: 100000;
        color: #fff;
        font: inherit;
        background-color: rgba(0, 0, 0, 0.73);
        opacity: 0;
        transition: opacity 300ms;
        display: none;
    }

    @media screen and (max-width: 400px) {
        .bottom-info__wrapper {
            font-size: 12px;
        }
    }

    .bottom-info__wrapper.active {
        opacity: 1;
    }

    .bottom-info__wrapper .bottom-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 15px 10px 20px;
    }

    @media screen and (max-width: 700px) {
        .bottom-info__wrapper .bottom-info {
            flex-direction: column;
        }
    }

    .bottom-info__wrapper .bottom-info__content {
        margin: 0 10px 0 0;
        line-height: 1.3;
    }

    .bottom-info__content a {
        color: #e63946;
        text-decoration: underline;
        transition: color 300ms;
    }

    .bottom-info__content a:hover {
        color: #e9646f;
    }

    @media screen and (max-width: 700px) {
        .bottom-info__wrapper .bottom-info__content {
            text-align: center;
            margin: 0 30px 0 0;
        }
    }

    .bottom-info__wrapper .bottom-info__action {
        display: flex;
    }

    @media screen and (max-width: 639px) {
        .bottom-info__wrapper .bottom-info__action {
            margin: 10px 0 0;
        }
    }

    .bottom-info__wrapper .bottom-info__button-agree {
        font-size: 0.9em;
        line-height: 2;
        font-weight: 500;
        color: #000;
        border-radius: 10px;
        padding: 2px 15px;
        text-transform: uppercase;
        display: block;
        background-color: #ffffffe8;
        border: none;
        cursor: pointer;
    }

    .bottom-info__wrapper .bottom-info__button-cross {
        width: 28px;
        height: 28px;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.4em;
        background-color: transparent;
        border: none;
        margin-inline-start: 12px;
        cursor: pointer;
    }

    @media screen and (max-width: 700px) {
        .bottom-info__wrapper .bottom-info__button-cross {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }

    .bottom-info__button-cross::after {
        content: "\00D7";
        color: #999;
        line-height: 1;
        transition: color 300ms;
    }

    .bottom-info__wrapper .bottom-info__button-cross:hover::after {
        color: #fff;
    }
</style>