<section class="form-block section-offset">
    <div class="container">
        <div class="form-block__inner">
            <picture class="form-block__picture">
                <source srcset="assets/img/form/form-pic.webp" type="image/webp">
                <img src="assets/img/form/form-pic.jpg" alt="Консультация">
            </picture>
            <div class="form-block__content">
                <h2 class="form-block__title">Нужна помощь прямо сейчас?</h2>
                <div class="form-block__descr">
                    <p>Позвоните или оставьте заявку – это бесплатно и анонимно.</p>
                    <p>Ваш звонок ни к чему не обязывает.</p>
                </div>
                <form class="form form-block__form">
                    <input type="text" placeholder="Ваше имя*" class="form__input form-block__input" required>
                    <input type="tel" placeholder="Ваш телефон*" class="form__input form-block__input" required>
                    <button type="submit" class="standart-btn tertiary-btn form__btn form-block__btn">Получить
                        консультацию</button>
                    <label class="form-block__checkbox">
                        <input type="checkbox" class="form-block__checkbox-input" checked required>
                        <span class="form-block__checkbox-custom"></span>
                        <span class="form-block__checkbox-text">Отправляя заявку, вы соглашаетесь с <a
                                href="#">политикой конфиденциальности</a>.</span>
                    </label>
                </form>
            </div>
        </div>
    </div>
</section>