<section class="gallery section-offset section-pt section-pb">
    <div class="container swiper-container">
        <h2 class="section-title gallery__title swiper-title">
            Условия пребывания <span>в стационаре</span>
        </h2>
        <div class="section-descr swiper-descr">В нашем стационаре созданы все условия для комфортного и безопасного пребывания: от
            уютных палат до современных процедурных кабинетов.
            Здесь сочетаются забота о физическом здоровье и поддержка психологического благополучия пациентов.</div>
        <div class="swiper-inner swiper-inner--basic gallery__swiper-inner">
            <div class="swiper gallery-swiper swiper--basic">
                <div class="swiper-wrapper swiper-wrapper--basic">
                        <a href="assets/img/article/4.webp" data-fancybox="gallery" class="swiper-slide gallery__item">
                            <picture class="gallery__picture zoom">
                                <source srcset="assets/img/article/4.webp" type="image/webp">
                                <img src="assets/img/article/4.jpg" alt="" loading="lazy">
                            </picture>
                        </a>
                        <a href="assets/img/article/2.webp" data-fancybox="gallery" class="swiper-slide gallery__item">
                            <picture class="gallery__picture zoom">
                                <source srcset="assets/img/article/2.webp" type="image/webp">
                                <img src="assets/img/article/2.jpg" alt="" loading="lazy">
                            </picture>
                        </a>
                        <a href="assets/img/article/3.webp" data-fancybox="gallery" class="swiper-slide gallery__item">
                            <picture class="gallery__picture zoom">
                                <source srcset="assets/img/article/3.webp" type="image/webp">
                                <img src="assets/img/article/3.jpg" alt="" loading="lazy">
                            </picture>
                        </a>
                        <a href="assets/img/article/4.webp" data-fancybox="gallery" class="swiper-slide gallery__item">
                            <picture class="gallery__picture zoom">
                                <source srcset="assets/img/article/4.webp" type="image/webp">
                                <img src="assets/img/article/4.jpg" alt="" loading="lazy">
                            </picture>
                        </a>
                        <a href="assets/img/article/4.webp" data-fancybox="gallery" class="swiper-slide gallery__item">
                            <picture class="gallery__picture zoom">
                                <source srcset="assets/img/article/4.webp" type="image/webp">
                                <img src="assets/img/article/4.jpg" alt="" loading="lazy">
                            </picture>
                        </a>
                        <a href="assets/img/article/4.webp" data-fancybox="gallery" class="swiper-slide gallery__item">
                            <picture class="gallery__picture zoom">
                                <source srcset="assets/img/article/4.webp" type="image/webp">
                                <img src="assets/img/article/4.jpg" alt="" loading="lazy">
                            </picture>
                        </a>
                </div>
            </div>
            <div class="swiper-buttons swiper-buttons--basic gallery__swiper-buttons">
                <div class="swiper-button-prev gallery-swiper__button-prev swiper-button button-prev"></div>
                <div class="swiper-button-next gallery-swiper__button-next swiper-button button-next"></div>
            </div>
            <div class="gallery__pagination swiper-pagination"></div>
        </div>
        <a href="#" class="standart-btn primary-btn all-gallery__link">Все фотографии</a>
    </div>
</section>