<section class="gallery section-offset">
    <div class="container swiper-container">
        <h2 class="section-title gallery__title swiper-title">
            Современный ребелетационный центр в <span>Ростове-на-Дону</span>
        </h2>
        <div class="gallery__inner swiper">
            <div class="swiper-wrapper">
                <a href="assets/img/article/4.webp" data-fancybox="gallery" class="swiper-slide gallery__item">
                    <picture class="gallery__picture">
                        <source srcset="assets/img/article/4.webp" type="image/webp">
                        <img src="assets/img/article/4.jpg" alt="" loading="lazy">
                    </picture>
                </a>
                <a href="assets/img/article/2.webp" data-fancybox="gallery" class="swiper-slide gallery__item">
                    <picture class="gallery__picture">
                        <source srcset="assets/img/article/2.webp" type="image/webp">
                        <img src="assets/img/article/2.jpg" alt="" loading="lazy">
                    </picture>
                </a>
                <a href="assets/img/article/3.webp" data-fancybox="gallery" class="swiper-slide gallery__item">
                    <picture class="gallery__picture">
                        <source srcset="assets/img/article/3.webp" type="image/webp">
                        <img src="assets/img/article/3.jpg" alt="" loading="lazy">
                    </picture>
                </a>
                <a href="assets/img/article/4.webp" data-fancybox="gallery" class="swiper-slide gallery__item">
                    <picture class="gallery__picture">
                        <source srcset="assets/img/article/4.webp" type="image/webp">
                        <img src="assets/img/article/4.jpg" alt="" loading="lazy">
                    </picture>
                </a>
                <a href="assets/img/article/4.webp" data-fancybox="gallery" class="swiper-slide gallery__item">
                    <picture class="gallery__picture">
                        <source srcset="assets/img/article/4.webp" type="image/webp">
                        <img src="assets/img/article/4.jpg" alt="" loading="lazy">
                    </picture>
                </a>
                <a href="assets/img/article/4.webp" data-fancybox="gallery" class="swiper-slide gallery__item">
                    <picture class="gallery__picture">
                        <source srcset="assets/img/article/4.webp" type="image/webp">
                        <img src="assets/img/article/4.jpg" alt="" loading="lazy">
                    </picture>
                </a>
            </div>
        </div>
        <div class="swiper-pag gallery__swiper-pag">
            <div class="swiper-pagination gallery__pagination"></div>
        </div>
    </div>
</section>