<section class="garant section-offset">
    <div class="container swiper-container">
        <h2 class="section-title-1 swiper-title">
            Гарантии
        </h2>
        <div class="swiper garant__inner swiper-inner">
            <div class="swiper-wrapper">
                <div class="garant__item swiper-slide">
                    <picture>
                        <source srcset="assets/img/icons/intro/intro-2.webp" type="image/webp">
                        <img src="assets/img/icons/intro/intro-2.png" alt="Полная анонимность">
                    </picture>
                    <p>Наша клиника гарантирует полную анонимность обращения</p>
                </div>
                <div class="garant__item swiper-slide">
                    <picture>
                        <source srcset="assets/img/icons/intro/intro-6.webp" type="image/webp">
                        <img src="assets/img/icons/intro/intro-6.png" alt="Полная анонимность">
                    </picture>
                    <p>Мы оказываем бесплатные консультационные медицинские услуги</p>
                </div>
                <div class="garant__item swiper-slide">
                    <picture>
                        <source srcset="assets/img/icons/intro/intro-4.webp" type="image/webp">
                        <img src="assets/img/icons/intro/intro-4.png" alt="Современные программы ">
                    </picture>
                    <p>Уже через полчаса после начала процедур мы обеспечим ощутимое улучшение самочувствия пациента</p>
                </div>
                <div class="garant__item swiper-slide">
                    <picture>
                        <source srcset="assets/img/icons/intro/intro-5.webp" type="image/webp">
                        <img src="assets/img/icons/intro/intro-5.png" alt="Квалифицированные врачи">
                    </picture>
                    <p>Быстрый подбор бригады и срочное прибытие в любое время суток</p>
                </div>
                <div class="garant__item swiper-slide">
                    <picture>
                        <source srcset="assets/img/icons/intro/intro-3.webp" type="image/webp">
                        <img src="assets/img/icons/intro/intro-3.png" alt="Гарантия качества">
                    </picture>
                    <p>Мы гарантируем достижение ремиссии даже в сложных случаях, если пациент готов к лечению</p>
                </div>
                </ul>
            </div>
        </div>
        <div class="swiper-pag garant__swiper-pag">
            <div class="swiper-pagination garant__pagination"></div>
        </div>
    </div>
</section>