<section class="how section-offset">
    <div class="container swiper-container">
        <h2 class="section-title swiper-title">
            Как проходит <span>процедура</span>
        </h2>
        <div class="swiper how__inner">
            <div class="swiper-wrapper how__list">
                <li class="how__item swiper-slide">
                    <p class="how__item-title">Оформление заявки</p>
                    <div class="how__item-descr">Оставьте заявку на сайте или позвоните нам по номеру <a href="#">+7
                            (555) 555-55-55</a></div>
                    <button class="how__item-btn popup-btn standart-btn primary-btn" data-path="popup-change">Оставить
                        заявку</button>
                    <picture class="how__item-picture">
                        <source srcset="assets/img/how/1.webp" type="image/webp">
                        <img src="assets/img/how/1.png" alt="">
                    </picture>
                </li>
                <li class="how__item swiper-slide">
                    <p class="how__item-title">Сбор анамнеза</p>
                    <div class="how__item-descr">В течении трех минут наш специалист перезванивает вам и собирает
                        анамнез, спрашивает адрес и назвачает специалиста на вызов</div>
                    <picture class="how__item-picture">
                        <source srcset="assets/img/how/2.webp" type="image/webp">
                        <img src="assets/img/how/2.png" alt="">
                    </picture>
                </li>
                <li class="how__item swiper-slide">
                    <p class="how__item-title">Прибытие бригады</p>
                    <div class="how__item-descr">Врач-нарколог поиедет в течении 30 минут, мы гарантируем анонимность
                    </div>
                    <picture class="how__item-picture">
                        <source srcset="assets/img/how/3.webp" type="image/webp">
                        <img src="assets/img/how/3.png" alt="">
                    </picture>
                </li>
                <li class="how__item swiper-slide">
                    <p class="how__item-title">Оказание процедур</p>
                    <div class="how__item-descr">Первичная диагностика, постановка капельницы, уколы, лекарства</div>
                    <picture class="how__item-picture">
                        <source srcset="assets/img/how/4.webp" type="image/webp">
                        <img src="assets/img/how/4.png" alt="">
                    </picture>
                </li>
                <li class="how__item swiper-slide">
                    <p class="how__item-title">Оплата услуг</p>
                    <div class="how__item-descr">Производится оплата за оказанную медицинскую услугу (карта, наличные,
                        рассрочка)</div>
                    <picture class="how__item-picture">
                        <source srcset="assets/img/how/5.webp" type="image/webp">
                        <img src="assets/img/how/5.png" alt="">
                    </picture>
                </li>
                <li class="how__item swiper-slide">
                    <p class="how__item-title">Контроль качества</p>
                    <div class="how__item-descr">Мы обязательно перезвоним вам, что бы проверить качество оказанных
                        усгул</div>
                    <picture class="how__item-picture">
                        <source srcset="assets/img/how/6.webp" type="image/webp">
                        <img src="assets/img/how/6.png" alt="">
                    </picture>
                </li>
            </div>
        </div>
        <div class="swiper-pag how__swiper-pag">
            <div class="swiper-pagination how__pagination"></div>
        </div>
    </div>
</section>