<section class="intro-service">
    <picture class="intro-service__background">
        <source srcset="assets/img/bg/service.webp" type="image/webp">
        <img src="assets/img/bg/service.jpg" alt="intro-service" class="intro-service__background-img">
    </picture>

    <div class="container intro-service__container">
        <div class="intro-service__inner">
            <div class="intro-service__content">
                <h1 class="intro-service__title">
                    Вывод из запоя<br>Круглосуточная помощь
                </h1>

                <div class="intro-service__description">
                    <p>Профессиональное прерывание запоя с использованием современных детокс-программ. Мы обеспечиваем безопасное выведение токсинов, восстанавливаем работу внутренних органов и нормализуем сон уже после первой капельницы.</p>
                </div>

                <div class="intro-service__reviewers">
                    <div class="intro-service__reviewers-item intro-service__reviewers-author">
                        <picture>
                            <source srcset="assets/img/doctors/1.webp" type="image/webp">
                            <img src="assets/img/doctors/1.jpg" alt="intro-service" class="intro-service__reviewers-img">
                        </picture>
                        <div class="intro-service__reviewers-wrap">
                            <span>Написал статью:</span>
                            <p class="intro-service__reviewers-name">Дзгоев Алан Георгиевич</p>
                            <a class="intro-service__reviewers-link standart-btn standart-btn--small primary-btn" href="#">Подробнее</a>
                        </div>
                    </div>
                    <div class="intro-service__reviewers-item intro-service__reviewers-reviewer">
                        <picture>
                            <source srcset="assets/img/doctors/2.webp" type="image/webp">
                            <img src="assets/img/doctors/2.jpg" alt="intro-service" class="intro-service__reviewers-img">
                        </picture>
                        <div class="intro-service__reviewers-wrap">
                            <span>Проверил врач:</span>
                            <p class="intro-service__reviewers-name">Цораева Ирина Николаевна</p>
                            <a class="intro-service__reviewers-link standart-btn standart-btn--small primary-btn" href="#">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="intro-service__form-inner intro-service__form--desktop">
                <div class="intro-service__form-header">
                    <h2 class="intro-service__form-title">БЫСТРАЯ ЗАЯВКА</h2>
                    <div class="intro-service__form-status">
                        <span class="intro-service__form-status-dot"></span>
                        <span class="intro-service__form-status-text">Врач на смене</span>
                    </div>
                </div>

                <form class="intro-service__form">
                    <input type="name" name="name" autocomplete="additional-name"
                        class="intro-service__form-input form__input" placeholder="Ваше имя*" required>

                    <input type="tel" name="tel" class="intro-service__form-input form__input"
                        placeholder="Ваш телефон*" required>


                    <button type="submit" class="intro-service__form-button standart-btn tertiary-btn">
                        Перезвоните мне
                    </button>

                    <p class="intro-service__form-privacy">
                        Данные не передаются третьим лицам
                    </p>
                </form>

                <div class="intro-service__form-contact">
                    <p class="intro-service__form-contact-label">Срочная консультация нарколога</p>
                    <a href="tel:+78672000000" class="intro-service__form-phone">+7 (8672) 00-00-00</a>
                </div>
            </div>
        </div>
    </div>
</section>