<section class="section-offset licenses">
    <div class="container swiper-container">
        <h2 class="section-title swiper-title">
            Юридическая <span>прозрачность</span>
        </h2>
        <div class="section-descr swiper-descr">
            Мы работаем строго в правовом поле РФ. Медицинская деятельность лицензирована
            Министерством здравоохранения РСО-Алания. Врачи регулярно проходят повышение квалификации.
        </div>
        <div class="swiper-inner swiper-inner--basic licenses__swiper-inner">
            <div class="swiper licenses-swiper swiper--basic">
                <div class="swiper-wrapper swiper-wrapper--basic">
                    <a href="assets/img/licenses/1.webp" data-fancybox="licenses" class="swiper-slide licenses__item">
                        <picture class="item__picture zoom">
                            <source srcset="assets/img/licenses/1.webp" type="image/webp">
                            <img src="assets/img/licenses/1.jpg"
                                alt="Лицензия на медицинскую деятельность центра Новый Ресурс">
                        </picture>
                    </a>
                    <a href="assets/img/licenses/1.webp" data-fancybox="licenses" class="swiper-slide licenses__item">
                        <picture class="item__picture zoom">
                            <source srcset="assets/img/licenses/1.webp" type="image/webp">
                            <img src="assets/img/licenses/1.jpg"
                                alt="Лицензия на медицинскую деятельность центра Новый Ресурс">
                        </picture>
                    </a>
                    <a href="assets/img/licenses/1.webp" data-fancybox="licenses" class="swiper-slide licenses__item">
                        <picture class="item__picture zoom">
                            <source srcset="assets/img/licenses/1.webp" type="image/webp">
                            <img src="assets/img/licenses/1.jpg"
                                alt="Лицензия на медицинскую деятельность центра Новый Ресурс">
                        </picture>
                    </a>
                    <a href="assets/img/licenses/1.webp" data-fancybox="licenses" class="swiper-slide licenses__item">
                        <picture class="item__picture zoom">
                            <source srcset="assets/img/licenses/1.webp" type="image/webp">
                            <img src="assets/img/licenses/1.jpg"
                                alt="Лицензия на медицинскую деятельность центра Новый Ресурс">
                        </picture>
                    </a>
                    <a href="assets/img/licenses/1.webp" data-fancybox="licenses" class="swiper-slide licenses__item">
                        <picture class="item__picture zoom">
                            <source srcset="assets/img/licenses/1.webp" type="image/webp">
                            <img src="assets/img/licenses/1.jpg"
                                alt="Лицензия на медицинскую деятельность центра Новый Ресурс">
                        </picture>
                    </a>
                    <a href="assets/img/licenses/1.webp" data-fancybox="licenses" class="swiper-slide licenses__item">
                        <picture class="item__picture zoom">
                            <source srcset="assets/img/licenses/1.webp" type="image/webp">
                            <img src="assets/img/licenses/1.jpg"
                                alt="Лицензия на медицинскую деятельность центра Новый Ресурс">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="swiper-buttons swiper-buttons--basic licenses__swiper-buttons">
                <div class="swiper-button-prev licenses-swiper__button-prev swiper-button button-prev"></div>
                <div class="swiper-button-next licenses-swiper__button-next swiper-button button-next"></div>
            </div>
            <div class="licenses__pagination swiper-pagination">
            </div>
        </div>
        <a href="#" class="standart-btn primary-btn all-licenses__link">Все документы</a>
    </div>
</section>