<section class="section-offset licenses">
    <div class="container swiper-container">
        <h2 class="section-title swiper-title">
            Лицензии <span>и сертификаты</span>
        </h2>
        <div class="section-descr swiper-descr">
            Центр "Новый Ресурс" в Ростове-на-Дону предоставляет квалифицированную помощь в лечении зависимостей,
            сочетая новейшие медицинские методики с индивидуальным подходом к каждому пациенту. Мы гордимся тем, что
            работаем в строгом соответствии с государственными стандартами, гарантируя качество и безопасность
            предоставляемых услуг. Ниже представлены лицензии, подтверждающие нашу компетентность и право на проведение
            медицинской деятельности.
        </div>
        <div class="licenses__inner swiper">
            <div class="swiper-wrapper">
                <a href="assets/img/licenses/1.webp" data-fancybox="licenses" class="swiper-slide licenses__item">
                    <picture class="item__picture zoom">
                        <source srcset="assets/img/licenses/1.webp" type="image/webp">
                        <img src="assets/img/licenses/1.jpg"
                            alt="Лицензия на медицинскую деятельность центра Новый Ресурс">
                    </picture>
                </a>
                <a href="assets/img/licenses/1.webp" data-fancybox="licenses" class="swiper-slide licenses__item">
                    <picture class="item__picture zoom">
                        <source srcset="assets/img/licenses/1.webp" type="image/webp">
                        <img src="assets/img/licenses/1.jpg"
                            alt="Лицензия на медицинскую деятельность центра Новый Ресурс">
                    </picture>
                </a>
                <a href="assets/img/licenses/1.webp" data-fancybox="licenses" class="swiper-slide licenses__item">
                    <picture class="item__picture zoom">
                        <source srcset="assets/img/licenses/1.webp" type="image/webp">
                        <img src="assets/img/licenses/1.jpg"
                            alt="Лицензия на медицинскую деятельность центра Новый Ресурс">
                    </picture>
                </a>
                <a href="assets/img/licenses/1.webp" data-fancybox="licenses" class="swiper-slide licenses__item">
                    <picture class="item__picture zoom">
                        <source srcset="assets/img/licenses/1.webp" type="image/webp">
                        <img src="assets/img/licenses/1.jpg"
                            alt="Лицензия на медицинскую деятельность центра Новый Ресурс">
                    </picture>
                </a>
            </div>
        </div>
    </div>
    <div class="swiper-pag licenses__swiper-pag">
        <div class="swiper-pagination licenses__pagination"></div>
    </div>
</section>