<section class="navigation">
    <div class="container">
        <div class="navigation__inner">
            <div class="navigation__wrap">
                <h2 class="navigation__title">Содержание</h2>
                <ul class="navigation__list"></ul>
            </div>
            <div class="doctor-reviewer doc-check">
                <picture class="doctor-reviewer__picture doc-check__picture">
                    <source srcset="assets/img/doctors/1.webp" type="image/webp">
                    <img src="assets/img/doctors/1.jpg" alt="Доктор" class="doctor-reviewer__image">
                </picture>
                <span>Проверено врачем</span>
                <a href="#" class="doctor-reviewer__name doc-check__name">Королькова Ольга Николаевна</a>
                <p class="doctor-reviewer__post doc-check__post">Главный врач, психиатр-нарколог, психотерапевт</p>
                <span class="doctor-reviewer__date">02.06.2024</span>
            </div>
        </div>
    </div>
</section>