<section class="other-services section-offset">
    <div class="container">
        <h2 class="section-title other-services__title">
            Так же мы оказываем <span>услуги</span>
        </h2>
        <div class="other-services__inner">
            <div class="other-services__item animation-item scale-item animation">
                <p class="other-services__item-title">Вывод из запоя</p>
                <p class="other-services__item-price">От 5000 руб</p>
                <a class="other-services__link standart-btn primary-btn" href="#">Подробнее</a>
            </div>
            <div class="other-services__item animation-item scale-item animation">
                <p class="other-services__item-title">Лечение алкоголизма</p>
                <p class="other-services__item-price">От 5000 руб</p>
                <a class="other-services__link standart-btn primary-btn" href="#">Подробнее</a>
            </div>
            <div class="other-services__item animation-item scale-item animation">
                <p class="other-services__item-title">Капельница от запоя</p>
                <p class="other-services__item-price">От 5000 руб</p>
                <a class="other-services__link standart-btn primary-btn" href="#">Подробнее</a>
            </div>
            <div class="other-services__item animation-item scale-item animation">
                <p class="other-services__item-title">Лечение наркомании</p>
                <p class="other-services__item-price">От 5000 руб</p>
                <a class="other-services__link standart-btn primary-btn" href="#">Подробнее</a>
            </div>
            <div class="other-services__item animation-item scale-item animation">
                <p class="other-services__item-title">Реабилитация</p>
                <p class="other-services__item-price">От 5000 руб</p>
                <a class="other-services__link standart-btn primary-btn" href="#">Подробнее</a>
            </div>
            <div class="other-services__item animation-item scale-item animation">
                <p class="other-services__item-title">Нарколог на дом</p>
                <p class="other-services__item-price">От 5000 руб</p>
                <a class="other-services__link standart-btn primary-btn" href="#">Подробнее</a>
            </div>
        </div>

    </div>
</section>