<section class="price section-offset">
    <div class="container">
        <h2 class="section-title-1 price__title">
            Цены
        </h2>
        <div class="section-descr">
            В наркологическом центре "Новый Ресурс" в Ростове-на-Дону мы предлагаем профессиональную и всестороннюю
            помощь в лечении зависимостей, основываясь на индивидуальном подходе к каждому пациенту. Наша команда
            опытных специалистов готова поддержать вас на пути к выздоровлению, предоставляя широкий спектр услуг, от
            консультаций и диагностики до стационарного лечения и реабилитации. Мы понимаем, насколько важен комфорт и
            доверие в процессе выздоровления, поэтому создаем условия, способствующие вашему полному восстановлению. В
            нашем центре доступны следующие услуги и программы, ориентированные на ваше благополучие и здоровье.
        </div>
        <div class="price__inner tabs">
            <div class="tabs__buttons">
                <button class="tab price__button">
                    Лечение алкоголизма
                </button>
                <button class="tab price__button">
                    Лечение наркомании
                </button>
                <button class="tab price__button">
                    Психиатрия
                </button>
                <button class="tab price__button">
                    Реабилитация
                </button>
                <button class="tab price__button">
                    наркология
                </button>
            </div>
            <div class="price__contents">
                <div class="tab-content price__content">
                    <div class="price__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="price-head__item-name">Услуга</th>
                                    <th class="price-head__item-price">Цена</th>
                                    <th class="price-head__item-btn"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="price__item change-item animation-item transform-item animation">
                                    <td class="price__item-name change-item__title">Капельница базовая</td>
                                    <td class="price__item-price">4200 ₽</td>
                                    <td class="price__item-btn">
                                        <button class="price__btn border-btn standart-btn popup-btn change-item__btn "
                                            data-path="popup-change">Заказать услугу</button>
                                    </td>
                                </tr>
                                <tr class="price__item change-item animation-item transform-item animation">
                                    <td class="price__item-name change-item__title">1111Капельница базовая</td>
                                    <td class="price__item-price">4200 ₽</td>
                                    <td class="price__item-btn">
                                        <button class="price__btn border-btn standart-btn popup-btn change-item__btn "
                                            data-path="popup-change">Заказать услугу</button>
                                    </td>
                                </tr>
                                <tr class="price__item change-item animation-item transform-item animation">
                                    <td class="price__item-name change-item__title">Капельница111 базовая</td>
                                    <td class="price__item-price">4200 ₽</td>
                                    <td class="price__item-btn">
                                        <button class="price__btn border-btn standart-btn popup-btn change-item__btn "
                                            data-path="popup-change">Заказать услугу</button>
                                    </td>
                                </tr>
                                <tr class="price__item change-item animation-item transform-item animation">
                                    <td class="price__item-name change-item__title">Капельница базовая111</td>
                                    <td class="price__item-price">4200 ₽</td>
                                    <td class="price__item-btn">
                                        <button class="price__btn border-btn standart-btn popup-btn change-item__btn "
                                            data-path="popup-change">Заказать услугу</button>
                                    </td>
                                </tr>
                                <tr class="price__item change-item animation-item transform-item animation">
                                    <td class="price__item-name change-item__title">Капельница базовая</td>
                                    <td class="price__item-price">4200 ₽</td>
                                    <td class="price__item-btn">
                                        <button class="price__btn border-btn standart-btn popup-btn change-item__btn "
                                            data-path="popup-change">Заказать услугу</button>
                                    </td>
                                </tr>
                                <tr class="price__item change-item animation-item transform-item animation">
                                    <td class="price__item-name change-item__title">Капельница базовая</td>
                                    <td class="price__item-price">4200 ₽</td>
                                    <td class="price__item-btn">
                                        <button class="price__btn border-btn standart-btn popup-btn change-item__btn "
                                            data-path="popup-change">Заказать услугу</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-content price__content">
                    <div class="price__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="price-head__item-name">Услуга</th>
                                    <th class="price-head__item-price">Цена</th>
                                    <th class="price-head__item-btn"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="price__item change-item">
                                    <td class="price__item-name change-item__title">Капельница базовая</td>
                                    <td class="price__item-price">4200 ₽</td>
                                    <td class="price__item-btn">
                                        <button class="price__btn border-btn standart-btn popup-btn change-item__btn "
                                            data-path="popup-change">Заказать услугу</button>
                                    </td>
                                </tr>
                                <tr class="price__item change-item">
                                    <td class="price__item-name change-item__title">Капельница базовая</td>
                                    <td class="price__item-price">4200 ₽</td>
                                    <td class="price__item-btn">
                                        <button class="price__btn border-btn standart-btn popup-btn change-item__btn "
                                            data-path="popup-change">Заказать услугу</button>
                                    </td>
                                </tr>
                                <tr class="price__item change-item">
                                    <td class="price__item-name change-item__title">Капельница111 базовая</td>
                                    <td class="price__item-price">4200 ₽</td>
                                    <td class="price__item-btn">
                                        <button class="price__btn border-btn standart-btn popup-btn change-item__btn "
                                            data-path="popup-change">Заказать услугу</button>
                                    </td>
                                </tr>
                                <tr class="price__item change-item">
                                    <td class="price__item-name change-item__title">Капельница базовая111</td>
                                    <td class="price__item-price">4200 ₽</td>
                                    <td class="price__item-btn">
                                        <button class="price__btn border-btn standart-btn popup-btn change-item__btn "
                                            data-path="popup-change">Заказать услугу</button>
                                    </td>
                                </tr>
                                <tr class="price__item change-item">
                                    <td class="price__item-name change-item__title">Капельница базовая</td>
                                    <td class="price__item-price">4200 ₽</td>
                                    <td class="price__item-btn">
                                        <button class="price__btn border-btn standart-btn popup-btn change-item__btn "
                                            data-path="popup-change">Заказать услугу</button>
                                    </td>
                                </tr>
                                <tr class="price__item change-item">
                                    <td class="price__item-name change-item__title">Капельница базовая</td>
                                    <td class="price__item-price">4200 ₽</td>
                                    <td class="price__item-btn">
                                        <button class="price__btn border-btn standart-btn popup-btn change-item__btn "
                                            data-path="popup-change">Заказать услугу</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-content price__content">
                    <div class="price__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="price-head__item-name">Услуга</th>
                                    <th class="price-head__item-price">Цена</th>
                                    <th class="price-head__item-btn"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="price__item change-item">
                                    <td class="price__item-name change-item__title">Капельница базовая</td>
                                    <td class="price__item-price">4200 ₽</td>
                                    <td class="price__item-btn">
                                        <button class="price__btn border-btn standart-btn popup-btn change-item__btn "
                                            data-path="popup-change">Заказать услугу</button>
                                    </td>
                                </tr>
                                <tr class="price__item change-item">
                                    <td class="price__item-name change-item__title">1111Капельница базовая</td>
                                    <td class="price__item-price">4200 ₽</td>
                                    <td class="price__item-btn">
                                        <button class="price__btn border-btn standart-btn popup-btn change-item__btn "
                                            data-path="popup-change">Заказать услугу</button>
                                    </td>
                                </tr>
                                <tr class="price__item change-item">
                                    <td class="price__item-name change-item__title">Капельница111 базовая</td>
                                    <td class="price__item-price">4200 ₽</td>
                                    <td class="price__item-btn">
                                        <button class="price__btn border-btn standart-btn popup-btn change-item__btn "
                                            data-path="popup-change">Заказать услугу</button>
                                    </td>
                                </tr>
                                <tr class="price__item change-item">
                                    <td class="price__item-name change-item__title">Капельница базовая111</td>
                                    <td class="price__item-price">4200 ₽</td>
                                    <td class="price__item-btn">
                                        <button class="price__btn border-btn standart-btn popup-btn change-item__btn "
                                            data-path="popup-change">Заказать услугу</button>
                                    </td>
                                </tr>
                                <tr class="price__item change-item">
                                    <td class="price__item-name change-item__title">Капельница базовая</td>
                                    <td class="price__item-price">4200 ₽</td>
                                    <td class="price__item-btn">
                                        <button class="price__btn border-btn standart-btn popup-btn change-item__btn "
                                            data-path="popup-change">Заказать услугу</button>
                                    </td>
                                </tr>
                                <tr class="price__item change-item">
                                    <td class="price__item-name change-item__title">Капельница базовая</td>
                                    <td class="price__item-price">4200 ₽</td>
                                    <td class="price__item-btn">
                                        <button class="price__btn border-btn standart-btn popup-btn change-item__btn "
                                            data-path="popup-change">Заказать услугу</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-content price__content">
                    <div class="price__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="price-head__item-name">Услуга</th>
                                    <th class="price-head__item-price">Цена</th>
                                    <th class="price-head__item-btn"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="price__item change-item">
                                    <td class="price__item-name change-item__title">Капельница базовая</td>
                                    <td class="price__item-price">4200 ₽</td>
                                    <td class="price__item-btn">
                                        <button class="price__btn border-btn standart-btn popup-btn change-item__btn "
                                            data-path="popup-change">Заказать услугу</button>
                                    </td>
                                </tr>
                                <tr class="price__item change-item">
                                    <td class="price__item-name change-item__title">1111Капельница базовая</td>
                                    <td class="price__item-price">4200 ₽</td>
                                    <td class="price__item-btn">
                                        <button class="price__btn border-btn standart-btn popup-btn change-item__btn "
                                            data-path="popup-change">Заказать услугу</button>
                                    </td>
                                </tr>
                                <tr class="price__item change-item">
                                    <td class="price__item-name change-item__title">Капельница111 базовая</td>
                                    <td class="price__item-price">4200 ₽</td>
                                    <td class="price__item-btn">
                                        <button class="price__btn border-btn standart-btn popup-btn change-item__btn "
                                            data-path="popup-change">Заказать услугу</button>
                                    </td>
                                </tr>
                                <tr class="price__item change-item">
                                    <td class="price__item-name change-item__title">Капельница базовая111</td>
                                    <td class="price__item-price">4200 ₽</td>
                                    <td class="price__item-btn">
                                        <button class="price__btn border-btn standart-btn popup-btn change-item__btn "
                                            data-path="popup-change">Заказать услугу</button>
                                    </td>
                                </tr>
                                <tr class="price__item change-item">
                                    <td class="price__item-name change-item__title">Капельница базовая</td>
                                    <td class="price__item-price">4200 ₽</td>
                                    <td class="price__item-btn">
                                        <button class="price__btn border-btn standart-btn popup-btn change-item__btn "
                                            data-path="popup-change">Заказать услугу</button>
                                    </td>
                                </tr>
                                <tr class="price__item change-item">
                                    <td class="price__item-name change-item__title">Капельница базовая</td>
                                    <td class="price__item-price">4200 ₽</td>
                                    <td class="price__item-btn">
                                        <button class="price__btn border-btn standart-btn popup-btn change-item__btn "
                                            data-path="popup-change">Заказать услугу</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-content price__content">
                    <div class="price__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="price-head__item-name">Услуга</th>
                                    <th class="price-head__item-price">Цена</th>
                                    <th class="price-head__item-btn"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="price__item change-item">
                                    <td class="price__item-name change-item__title">Капельница базовая</td>
                                    <td class="price__item-price">4200 ₽</td>
                                    <td class="price__item-btn">
                                        <button class="price__btn border-btn standart-btn popup-btn change-item__btn "
                                            data-path="popup-change">Заказать услугу</button>
                                    </td>
                                </tr>
                                <tr class="price__item change-item">
                                    <td class="price__item-name change-item__title">1111Капельница базовая</td>
                                    <td class="price__item-price">4200 ₽</td>
                                    <td class="price__item-btn">
                                        <button class="price__btn border-btn standart-btn popup-btn change-item__btn "
                                            data-path="popup-change">Заказать услугу</button>
                                    </td>
                                </tr>
                                <tr class="price__item change-item">
                                    <td class="price__item-name change-item__title">Капельница111 базовая</td>
                                    <td class="price__item-price">4200 ₽</td>
                                    <td class="price__item-btn">
                                        <button class="price__btn border-btn standart-btn popup-btn change-item__btn "
                                            data-path="popup-change">Заказать услугу</button>
                                    </td>
                                </tr>
                                <tr class="price__item change-item">
                                    <td class="price__item-name change-item__title">Капельница базовая111</td>
                                    <td class="price__item-price">4200 ₽</td>
                                    <td class="price__item-btn">
                                        <button class="price__btn border-btn standart-btn popup-btn change-item__btn "
                                            data-path="popup-change">Заказать услугу</button>
                                    </td>
                                </tr>
                                <tr class="price__item change-item">
                                    <td class="price__item-name change-item__title">Капельница базовая</td>
                                    <td class="price__item-price">4200 ₽</td>
                                    <td class="price__item-btn">
                                        <button class="price__btn border-btn standart-btn popup-btn change-item__btn "
                                            data-path="popup-change">Заказать услугу</button>
                                    </td>
                                </tr>
                                <tr class="price__item change-item">
                                    <td class="price__item-name change-item__title">Капельница базовая</td>
                                    <td class="price__item-price">4200 ₽</td>
                                    <td class="price__item-btn">
                                        <button class="price__btn border-btn standart-btn popup-btn change-item__btn "
                                            data-path="popup-change">Заказать услугу</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>