<section class="programs section-offset">
    <div class="container">
        <h2 class="section-title">Программы <span>реабилитации</span></h2>
        <div class="programs__inner">
            <div class="programs__item">
                <picture class="programs__picture">
                    <source srcset="assets/img/programs/program-1.webp" type="image/webp">
                    <img class="programs__image" src="assets/img/programs/program-1.jpg" alt="">
                </picture>
                <div class="programs__content">
                    <div class="programs__content-top">
                        <h3 class="programs__title">Реабилитация Day-Top</h3>
                        <a class="standart-btn arrow-btn programs__btn">Подробнее</a>
                    </div>
                    <div class="programs__descr">
                        <p>Программа реабилитации Day Top — наиболее важный этап терапии наркозависимости. На этой
                            стадии
                            человек не употребляет наркотики, метаболизм приходит в норму, физическая потребность в
                            насыщении организма психоактивными веществами устранена путем детоксикации и купирования
                            острых
                            проявлений абстинентного синдрома.</p>
                        <p>Программа реабилитации Day Top — наиболее важный этап терапии наркозависимости. На этой
                            стадии
                            человек не употребляет наркотики, метаболизм приходит в норму, физическая потребность в
                            насыщении организма психоактивными веществами устранена путем детоксикации и купирования
                            острых
                            проявлений абстинентного синдрома.</p>
                    </div>
                </div>
            </div>
            <div class="programs__item">
                <picture class="programs__picture">
                    <source srcset="assets/img/programs/program-2.webp" type="image/webp">
                    <img class="programs__image" src="assets/img/programs/program-2.jpg" alt="">
                </picture>
                <div class="programs__content">
                    <div class="programs__content-top">
                        <h3 class="programs__title">Реабилитация Day-Top</h3>
                        <a class="standart-btn arrow-btn programs__btn">Подробнее</a>
                    </div>
                    <div class="programs__descr">
                        <p>Программа реабилитации Day Top — наиболее важный этап терапии наркозависимости. На этой
                            стадии
                            человек не употребляет наркотики, метаболизм приходит в норму, физическая потребность в
                            насыщении организма психоактивными веществами устранена путем детоксикации и купирования
                            острых
                            проявлений абстинентного синдрома.</p>
                        <p>Программа реабилитации Day Top — наиболее важный этап терапии наркозависимости. На этой
                            стадии
                            человек не употребляет наркотики, метаболизм приходит в норму, физическая потребность в
                            насыщении организма психоактивными веществами устранена путем детоксикации и купирования
                            острых
                            проявлений абстинентного синдрома.</p>
                    </div>
                </div>
            </div>
            <div class="programs__item">
                <picture class="programs__picture">
                    <source srcset="assets/img/programs/program-3.webp" type="image/webp">
                    <img class="programs__image" src="assets/img/programs/program-3.jpg" alt="">
                </picture>
                <div class="programs__content">
                    <div class="programs__content-top">
                        <h3 class="programs__title">Реабилитация Day-Top</h3>
                        <a class="standart-btn arrow-btn programs__btn">Подробнее</a>
                    </div>
                    <div class="programs__descr">
                        <p>Программа реабилитации Day Top — наиболее важный этап терапии наркозависимости. На этой
                            стадии
                            человек не употребляет наркотики, метаболизм приходит в норму, физическая потребность в
                            насыщении организма психоактивными веществами устранена путем детоксикации и купирования
                            острых
                            проявлений абстинентного синдрома.</p>
                        <p>Программа реабилитации Day Top — наиболее важный этап терапии наркозависимости. На этой
                            стадии
                            человек не употребляет наркотики, метаболизм приходит в норму, физическая потребность в
                            насыщении организма психоактивными веществами устранена путем детоксикации и купирования
                            острых
                            проявлений абстинентного синдрома.</p>
                    </div>
                </div>
            </div>
            <div class="programs__item">
                <picture class="programs__picture">
                    <source srcset="assets/img/programs/program-4.webp" type="image/webp">
                    <img class="programs__image" src="assets/img/programs/program-4.jpg" alt="">
                </picture>
                <div class="programs__content">
                    <div class="programs__content-top">
                        <h3 class="programs__title">Реабилитация Day-Top</h3>
                        <a class="standart-btn arrow-btn programs__btn">Подробнее</a>
                    </div>
                    <div class="programs__descr">
                        <p>Программа реабилитации Day Top — наиболее важный этап терапии наркозависимости. На этой
                            стадии
                            человек не употребляет наркотики, метаболизм приходит в норму, физическая потребность в
                            насыщении организма психоактивными веществами устранена путем детоксикации и купирования
                            острых
                            проявлений абстинентного синдрома.</p>
                        <p>Программа реабилитации Day Top — наиболее важный этап терапии наркозависимости. На этой
                            стадии
                            человек не употребляет наркотики, метаболизм приходит в норму, физическая потребность в
                            насыщении организма психоактивными веществами устранена путем детоксикации и купирования
                            острых
                            проявлений абстинентного синдрома.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>