<section class="rating section-offset">
    <div class="container">
        <h2 class="section-title">
            Есть сомнения?
        </h2>
        <div class="rating__inner">
            <div class="rating-item animation-item transform-item">
                <div class="rating__number">
                    4,7
                    <p class="rating__number-decor"></p>
                </div>
                <div class="rating__wrap">
                    <a href="#" rel="nofollow" class="rating__social">
                        <picture>
                            <source srcset="assets/img/icons/prodoctorov.webp" type="image/webp">
                            <img src="assets/img/icons/prodoctorov.png" alt="" loading="lazy">
                        </picture>
                    </a>
                    <p>На основании 77 отзывов</p>
                </div>
            </div>
            <div class="rating-item animation-item transform-item">
                <div class="rating__number">
                    4,7
                </div>
                <div class="rating__wrap">
                    <a href="#" rel="nofollow" class="rating__social">
                        <picture>
                            <source srcset="assets/img/icons/google.webp" type="image/webp">
                            <img src="assets/img/icons/google.png" alt="" loading="lazy">
                        </picture>
                    </a>
                    <p>На основании 77 отзывов</p>
                </div>
            </div>
            <div class="rating-item animation-item transform-item">
                <div class="rating__number">
                    4,7
                </div>
                <div class="rating__wrap">
                    <a href="#" rel="nofollow" class="rating__social">
                        <picture>
                            <source srcset="assets/img/icons/yandex.webp" type="image/webp">
                            <img src="assets/img/icons/yandex.png" alt="" loading="lazy">
                        </picture>
                    </a>
                    <p>На основании 77 отзывов</p>
                </div>
            </div>
            <div class="rating-item animation-item transform-item">
                <div class="rating__number">
                    4,7
                </div>
                <div class="rating__wrap">
                    <a href="#" rel="nofollow" class="rating__social">
                        <picture>
                            <source srcset="assets/img/icons/sber.webp" type="image/webp">
                            <img src="assets/img/icons/sber.png" alt="" loading="lazy">
                        </picture>
                    </a>
                    <p>На основании 77 отзывов</p>
                </div>
            </div>
        </div>
    </div>
</section>