<section class="reviews section-offset">
    <div class="container swiper-container">
        <h2 class="section-title swiper-title">
            Отзывы
        </h2>
        <div class="swiper reviews__inner">
            <div class="swiper-wrapper">
                <div class="swiper-slide reviews__item">
                    <div class="reviews__top">
                        <p class="reviews__name">Высочанский Олег Викторович<p>
                        <div class="reviews__rating rating">
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                            <span></span>
                        </div>
                        <p class="reviews__period">Период лечения 3 месяца</p>
                    </div>
                    <div class="reviews__text">
                        <p>Здравствуйте всем!</p>
                        <p>Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей
                            активности
                            представляет собой интересный эксперимент проверки новых предложений. Разнообразный и
                            богатый опыт
                            консультации с широким активом требуют от нас анализа дальнейших направлений развития.
                            Равным образом
                            сложившаяся структура организации требуют от нас анализа модели развития.</p>
                        <p>Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей
                            активности
                            представляет собой интересный эксперимент проверки новых предложений. Разнообразный и
                            богатый опыт
                            консультации с широким активом требуют от нас анализа дальнейших направлений развития.
                            Равным образом
                            сложившаяся структура организации требуют от нас анализа модели развития.</p>
                    </div>
                    <div class="reviews__date">
                        <p>01.01.2024 г.</p>
                    </div>
                </div>
                <div class="swiper-slide reviews__item">
                    <div class="reviews__top">
                        <p class="reviews__name">Высочанский Олег Викторович
                        <p>
                        <div class="reviews__rating rating">
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                            <span></span>
                        </div>
                        <p class="reviews__period">Период лечения 3 месяца</p>
                    </div>
                    <div class="reviews__text">
                        <p>Здравствуйте всем!</p>
                        <p>Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей
                            активности
                            представляет собой интересный эксперимент проверки новых предложений. Разнообразный и
                            богатый опыт
                            консультации с широким активом требуют от нас анализа дальнейших направлений развития.
                            Равным образом
                            сложившаяся структура организации требуют от нас анализа модели развития.</p>
                        <p>Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей
                            активности
                            представляет собой интересный эксперимент проверки новых предложений. Разнообразный и
                            богатый опыт
                            консультации с широким активом требуют от нас анализа дальнейших направлений развития.
                            Равным образом
                            сложившаяся структура организации требуют от нас анализа модели развития.</p>
                    </div>
                    <div class="reviews__date">
                        <p>01.01.2024 г.</p>
                    </div>
                </div>
                <div class="swiper-slide reviews__item">
                    <div class="reviews__top">
                        <p class="reviews__name">Высочанский Олег Викторович
                        <p>
                        <div class="reviews__rating rating">
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                            <span></span>
                        </div>
                        <p class="reviews__period">Период лечения 3 месяца</p>
                    </div>
                    <div class="reviews__text">
                        <p>Здравствуйте всем!</p>
                        <p>Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей
                            активности
                            представляет собой интересный эксперимент проверки новых предложений. Разнообразный и
                            богатый опыт
                            консультации с широким активом требуют от нас анализа дальнейших направлений развития.
                            Равным образом
                            сложившаяся структура организации требуют от нас анализа модели развития.</p>
                        <p>Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей
                            активности
                            представляет собой интересный эксперимент проверки новых предложений. Разнообразный и
                            богатый опыт
                            консультации с широким активом требуют от нас анализа дальнейших направлений развития.
                            Равным образом
                            сложившаяся структура организации требуют от нас анализа модели развития.</p>
                    </div>
                    <div class="reviews__date">
                        <p>01.01.2024 г.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pag reviews__swiper-pag">
            <div class="swiper-pagination reviews__pagination"></div>
        </div>
        <a href="#"  class="primary-btn standart-btn reviews__link">Показать еще</a>
    </div>
</section>