<section class="reviews section-offset">
    <div class="container swiper-container">
        <h2 class="section-title reviews__title swiper-title">
            Истории <span>выздоровления</span>
        </h2>
        <div class="section-descr swiper-descr">Мы уважаем конфиденциальность наших пациентов, поэтому публикуем только те отзывы,
            которые они разрешили озвучить.
            Эти строки — не реклама, а реальные голоса людей, прошедших путь выздоровления с нашей поддержкой.</div>
        <div class="swiper-inner swiper-inner--basic reviews__swiper-inner">
            <div class="swiper reviews-swiper swiper--basic">
                <div class="swiper-wrapper swiper-wrapper--basic">
                    <div class="swiper-slide reviews__item">
                        <picture class="reviews__picture">
                            <source srcset="assets/img/reviews/anonymous-1.svg" type="image/svg+xml">
                            <img src="assets/img/reviews/anonymous-1.png" alt="" loading="lazy">
                        </picture>
                        <p class="reviews__name">Марина, 34 года
                        <p>
                        <div class="reviews__raiting raiting-inner" data-rating="5.0">
                            <span class="reviews__raiting-number">5.0</span>
                            <div class="raiting__stars rating"></div>
                        </div>
                        <div class="reviews__text">
                            <p>"После длительного запоя думала — всё, сама
                                не выберусь. Стыдно было обращаться в больницу. Врач из «МедГаранта» приехал ночью (живу
                                в районе БАМа), без халата, никто из соседей
                                не понял. Поставили капельницу, оставили таблетки. Спасибо за человеческое отношение!"
                            </p>
                            <p>"После длительного запоя думала — всё, сама
                                не выберусь. Стыдно было обращаться в больницу. Врач из «МедГаранта» приехал ночью (живу
                                в районе БАМа), без халата, никто из соседей
                                не понял. Поставили капельницу, оставили таблетки. Спасибо за человеческое отношение!"
                            </p>
                        </div>
                        <button class="reviews__btn popup-btn" data-path="popup-change">
                            <p>Читать полностью...</p>
                        </button>
                    </div>
                    <div class="swiper-slide reviews__item">
                        <picture class="reviews__picture">
                            <source srcset="assets/img/reviews/anonymous-2.svg" type="image/svg+xml">
                            <img src="assets/img/reviews/anonymous-2.png" alt="" loading="lazy">
                        </picture>
                        <p class="reviews__name">Марина, 34 года
                        <p>
                        <div class="reviews__raiting raiting-inner" data-rating="5.0">
                            <span class="reviews__raiting-number">5.0</span>
                            <div class="raiting__stars rating"></div>
                        </div>
                        <div class="reviews__text">
                            <p>"После длительного запоя думала — всё, сама
                                не выберусь. Стыдно было обращаться в больницу. Врач из «МедГаранта» приехал ночью (живу
                                в районе БАМа), без халата, никто из соседей
                                не понял. Поставили капельницу, оставили таблетки. Спасибо за человеческое отношение!"
                            </p>
                        </div>
                        <button class="reviews__btn popup-btn" data-path="popup-change">
                            <p>Читать полностью...</p>
                        </button>
                    </div>
                    <div class="swiper-slide reviews__item">
                        <picture class="reviews__picture">
                            <source srcset="assets/img/reviews/anonymous-3.svg" type="image/svg+xml">
                            <img src="assets/img/reviews/anonymous-3.png" alt="" loading="lazy">
                        </picture>
                        <p class="reviews__name">Марина, 34 года
                        <p>
                        <div class="reviews__raiting raiting-inner" data-rating="5.0">
                            <span class="reviews__raiting-number">5.0</span>
                            <div class="raiting__stars rating"></div>
                        </div>
                        <div class="reviews__text">
                            <p>"После длительного запоя думала — всё, сама
                                не выберусь. Стыдно было обращаться в больницу. Врач из «МедГаранта» приехал ночью (живу
                                в районе БАМа), без халата, никто из соседей
                                не понял. Поставили капельницу, оставили таблетки. Спасибо за человеческое отношение!"
                            </p>
                        </div>
                        <button class="reviews__btn popup-btn" data-path="popup-change">
                            <p>Читать полностью...</p>
                        </button>
                    </div>
                    <div class="swiper-slide reviews__item">
                        <picture class="reviews__picture">
                            <source srcset="assets/img/reviews/anonymous-1.svg" type="image/svg+xml">
                            <img src="assets/img/reviews/anonymous-1.png" alt="" loading="lazy">
                        </picture>
                        <p class="reviews__name">Марина, 34 года
                        <p>
                        <div class="reviews__raiting raiting-inner" data-rating="5.0">
                            <span class="reviews__raiting-number">5.0</span>
                            <div class="raiting__stars rating"></div>
                        </div>
                        <div class="reviews__text">
                            <p>"После длительного запоя думала — всё, сама
                                не выберусь. Стыдно было обращаться в больницу. Врач из «МедГаранта» приехал ночью (живу
                                в районе БАМа), без халата, никто из соседей
                                не понял. Поставили капельницу, оставили таблетки. Спасибо за человеческое отношение!"
                            </p>
                        </div>
                        <button class="reviews__btn popup-btn" data-path="popup-change">
                            <p>Читать полностью...</p>
                        </button>
                    </div>
                </div>
            </div>
            <div class="swiper-buttons swiper-buttons--basic reviews__swiper-buttons">
                <div class="swiper-button-prev reviews-swiper__button-prev swiper-button button-prev"></div>
                <div class="swiper-button-next reviews-swiper__button-next swiper-button button-next"></div>
            </div>
        </div>
        <a href="#" class="standart-btn primary-btn all-reviews__link">Все истории</a>
    </div>
</section>