<div class="services section-offset section-decoration">
    <div class="container swiper-container">
        <h2 class="section-title swiper-title"><span>Чем </span>мы помогаем</h2>
        <div class="swiper-inner swiper-inner--basic">
            <div class="swiper services-swiper swiper--basic">
                <div class="swiper-wrapper swiper-wrapper--basic">
                    <div class="swiper-slide services__item animation-item scale-item animation">
                        <div class="services__picture">
                            <picture>
                                <source srcset="assets/img/services/1.webp" type="image/webp">
                                <img src="assets/img/services/1.jpg" alt="акция 1">
                            </picture>
                        </div>
                        <div class="services__content">
                            <p class="services__title">Лечение алкоголизма</p>
                            <div class="services__content-descr">
                                <p>Вывод из запоя на дому и в стационаре. Быстрое вытрезвление, кодирование (Эспераль,
                                    Торпедо).
                                </p>
                            </div>
                            <a href="#" class="services__btn">Подробнее
                                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="18" viewBox="0 0 23 18"
                                    fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M23 9.00001C23 9.23099 22.9114 9.45257 22.7535 9.61585L14.8998 17.7449C14.5712 18.085 14.0385 18.085 13.7099 17.7449C13.3813 17.4048 13.3813 16.8534 13.7099 16.5132L20.127 9.87098H0.841463C0.37674 9.87098 0 9.48102 0 9.00001C0 8.51901 0.37674 8.12904 0.841463 8.12904H20.127L13.7099 1.48684C13.3813 1.1467 13.3813 0.595229 13.7099 0.255098C14.0385 -0.0850327 14.5712 -0.0850327 14.8998 0.255098L22.7535 8.38418C22.9114 8.54746 23 8.76903 23 9.00001Z"
                                        fill="#B7141B" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide services__item animation-item scale-item animation">
                        <div class="services__picture">
                            <picture>
                                <source srcset="assets/img/services/2.webp" type="image/webp">
                                <img src="assets/img/services/2.jpg" alt="акция 1">
                            </picture>
                        </div>
                        <div class="services__content">
                            <p class="services__title">Лечение наркомании</p>
                            <div class="services__content-descr">
                                <p>Снятие ломки (УБОД), детоксикация организма, медикаментозная терапия
                                    и поддержка.
                                    
                                </p>
                            </div>
                            <a href="#" class="services__btn">Подробнее
                                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="18" viewBox="0 0 23 18"
                                    fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M23 9.00001C23 9.23099 22.9114 9.45257 22.7535 9.61585L14.8998 17.7449C14.5712 18.085 14.0385 18.085 13.7099 17.7449C13.3813 17.4048 13.3813 16.8534 13.7099 16.5132L20.127 9.87098H0.841463C0.37674 9.87098 0 9.48102 0 9.00001C0 8.51901 0.37674 8.12904 0.841463 8.12904H20.127L13.7099 1.48684C13.3813 1.1467 13.3813 0.595229 13.7099 0.255098C14.0385 -0.0850327 14.5712 -0.0850327 14.8998 0.255098L22.7535 8.38418C22.9114 8.54746 23 8.76903 23 9.00001Z"
                                        fill="#B7141B" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide services__item animation-item scale-item animation">
                        <div class="services__picture">
                            <picture>
                                <source srcset="assets/img/services/3.webp" type="image/webp">
                                <img src="assets/img/services/3.jpg" alt="акция 1">
                            </picture>
                        </div>
                        <div class="services__content">
                            <p class="services__title">Комплексная реабилитация</p>
                            <div class="services__content-descr">
                                <p>Программа «12 шагов», работа
                                    с психологами и социальная адаптация. Полное восстановление личности
                                    и возврат в социум.
                                </p>
                            </div>
                            <a href="#" class="services__btn">Подробнее
                                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="18" viewBox="0 0 23 18"
                                    fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M23 9.00001C23 9.23099 22.9114 9.45257 22.7535 9.61585L14.8998 17.7449C14.5712 18.085 14.0385 18.085 13.7099 17.7449C13.3813 17.4048 13.3813 16.8534 13.7099 16.5132L20.127 9.87098H0.841463C0.37674 9.87098 0 9.48102 0 9.00001C0 8.51901 0.37674 8.12904 0.841463 8.12904H20.127L13.7099 1.48684C13.3813 1.1467 13.3813 0.595229 13.7099 0.255098C14.0385 -0.0850327 14.5712 -0.0850327 14.8998 0.255098L22.7535 8.38418C22.9114 8.54746 23 8.76903 23 9.00001Z"
                                        fill="#B7141B" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide services__item animation-item scale-item animation">
                        <div class="services__picture">
                            <picture>
                                <source srcset="assets/img/services/4.webp" type="image/webp">
                                <img src="assets/img/services/4.jpg" alt="акция 1">
                            </picture>
                        </div>
                        <div class="services__content">
                            <p class="services__title">Психиатрия</p>
                            <div class="services__content-descr">
                                <p>Лечение бессонницы, тревожности
                                    и депрессии на фоне употребления. Работа с созависимыми.
                                    
                                </p>
                            </div>
                            <a href="#" class="services__btn">Подробнее
                                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="18" viewBox="0 0 23 18"
                                    fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M23 9.00001C23 9.23099 22.9114 9.45257 22.7535 9.61585L14.8998 17.7449C14.5712 18.085 14.0385 18.085 13.7099 17.7449C13.3813 17.4048 13.3813 16.8534 13.7099 16.5132L20.127 9.87098H0.841463C0.37674 9.87098 0 9.48102 0 9.00001C0 8.51901 0.37674 8.12904 0.841463 8.12904H20.127L13.7099 1.48684C13.3813 1.1467 13.3813 0.595229 13.7099 0.255098C14.0385 -0.0850327 14.5712 -0.0850327 14.8998 0.255098L22.7535 8.38418C22.9114 8.54746 23 8.76903 23 9.00001Z"
                                        fill="#B7141B" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide services__item animation-item scale-item animation">
                        <div class="services__picture">
                            <picture>
                                <source srcset="assets/img/services/1.webp" type="image/webp">
                                <img src="assets/img/services/1.jpg" alt="акция 1">
                            </picture>
                        </div>
                        <div class="services__content">
                            <p class="services__title">Вывод из запоя</p>
                            <div class="services__content-descr">
                                <p>Вывод из запоя на дому и в стационаре. Быстрое вытрезвление, кодирование (Эспераль,
                                    Торпедо).
                                </p>
                            </div>
                            <a href="#" class="services__btn">Подробнее
                                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="18" viewBox="0 0 23 18"
                                    fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M23 9.00001C23 9.23099 22.9114 9.45257 22.7535 9.61585L14.8998 17.7449C14.5712 18.085 14.0385 18.085 13.7099 17.7449C13.3813 17.4048 13.3813 16.8534 13.7099 16.5132L20.127 9.87098H0.841463C0.37674 9.87098 0 9.48102 0 9.00001C0 8.51901 0.37674 8.12904 0.841463 8.12904H20.127L13.7099 1.48684C13.3813 1.1467 13.3813 0.595229 13.7099 0.255098C14.0385 -0.0850327 14.5712 -0.0850327 14.8998 0.255098L22.7535 8.38418C22.9114 8.54746 23 8.76903 23 9.00001Z"
                                        fill="#B7141B" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-buttons swiper-buttons--basic">
                <div class="swiper-button-prev services-swiper__button-prev swiper-button button-prev"></div>
                <div class="swiper-button-next services-swiper__button-next swiper-button button-next"></div>
            </div>
        </div>
    </div>
</div>