<section class="services section-offset">
<div class="container">
    <h2 class="section-title services__title">
        Услуги
    </h2>
    <div class="section-descr">
        Центр Новый Ресурс в Ростове предлагает широкий выбор программ лечения зависимостей, адаптированных под
        различные потребности и стадии заболевания. У нас вы найдете амбулаторные и стационарные программы, интенсивные
        курсы детоксикации, реабилитации и постреабилитационной поддержки. Мы также предоставляем специализированные
        программы для различных возрастных групп, включая подростков и пожилых людей. Каждая программа разрабатывается
        индивидуально, с учетом особенностей здоровья и личных целей пациента, чтобы обеспечить максимально эффективное
        и устойчивое выздоровление.
    </div>
    <div class="services__inner">
        <div class="services__item animation-item scale-item animation">
            <p class="services__item-title">Вывод из запоя</p>
            <p class="services__item-price">2 800 руб.</p>
            <a class="services__link standart-btn primary-btn" href="#">Подробнее</a>
            <picture class="services__item-picture">
                <source srcset="assets/img/icons/services/1.webp" type="image/webp">
                <img src="assets/img/icons/services/1.png" alt="">
            </picture>
        </div>
        <div class="services__item animation-item scale-item animation">
            <p class="services__item-title">Лечение алкоголизма</p>
            <p class="services__item-price">3 100 руб.</p>
            <a class="services__link standart-btn primary-btn" href="#">Подробнее</a>
            <picture class="services__item-picture">
                <source srcset="assets/img/icons/services/2.webp" type="image/webp">
                <img src="assets/img/icons/services/2.png" alt="">
            </picture>
        </div>
        <div class="services__item animation-item scale-item animation">
            <p class="services__item-title">Капельница от запоя</p>
            <p class="services__item-price">2 100 руб.</p>
            <a class="services__link standart-btn primary-btn" href="#">Подробнее</a>
            <picture class="services__item-picture">
                <source srcset="assets/img/icons/services/3.webp" type="image/webp">
                <img src="assets/img/icons/services/3.png" alt="">
            </picture>
        </div>
        <div class="services__item animation-item scale-item animation">
            <p class="services__item-title">Лечение наркомании</p>
            <p class="services__item-price">4 500 руб.</p>
            <a class="services__link standart-btn primary-btn" href="#">Подробнее</a>
            <picture class="services__item-picture">
                <source srcset="assets/img/icons/services/4.webp" type="image/webp">
                <img src="assets/img/icons/services/4.png" alt="">
            </picture>
        </div>
        <div class="services__item animation-item scale-item animation">
            <p class="services__item-title">Реабилитация</p>
            <p class="services__item-price">1 600 руб.</p>
            <a class="services__link standart-btn primary-btn" href="#">Подробнее</a>
            <picture class="services__item-picture">
                <source srcset="assets/img/icons/services/5.webp" type="image/webp">
                <img src="assets/img/icons/services/5.png" alt="">
            </picture>
        </div>
        <div class="services__item animation-item scale-item animation">
            <p class="services__item-title">Нарколог на дом</p>
            <p class="services__item-price">2 300 руб.</p>
            <a class="services__link standart-btn primary-btn" href="#">Подробнее</a>
            <picture class="services__item-picture">
                <source srcset="assets/img/icons/services/6.webp" type="image/webp">
                <img src="assets/img/icons/services/6.png" alt="">
            </picture>
        </div>
    </div>

</div>
</section>