<section class="stages section-offset">
    <div class="container swiper-container">
        <h2 class="section-title swiper-title">
            Этапы <span>терапии</span>
        </h2>
        <div class="swiper stages__inner">
            <div class="swiper-wrapper stages__list">
                <li class="stages__item swiper-slide">
                    <picture>
                        <source srcset="assets/img/stages/1.webp" type="image/webp">
                        <img src="assets/img/stages/1.png" alt="Полная анонимность">
                    </picture>
                    <p>Вывод из папоя</p>
                </li>
                <li class="stages__item swiper-slide">
                    <picture>
                        <source srcset="assets/img/stages/2.webp" type="image/webp">
                        <img src="assets/img/stages/2.png" alt="Полная анонимность">
                    </picture>
                    <p>Детоксикация</p>
                </li>
                <li class="stages__item swiper-slide">
                    <picture>
                        <source srcset="assets/img/stages/3.webp" type="image/webp">
                        <img src="assets/img/stages/3.png" alt="Современные программы ">
                    </picture>
                    <p>Медикасентозное лечение</p>
                </li>
                <li class="stages__item swiper-slide">
                    <picture>
                        <source srcset="assets/img/stages/4.webp" type="image/webp">
                        <img src="assets/img/stages/4.png" alt="Квалифицированные врачи">
                    </picture>
                    <p>Кодирование</p>
                </li>
                <li class="stages__item swiper-slide">
                    <picture>
                        <source srcset="assets/img/stages/5.webp" type="image/webp">
                        <img src="assets/img/stages/5.png" alt="Гарантия качества">
                    </picture>
                    <p>Реабилитация</p>
                </li>
                </ul>
            </div>
        </div>
        <div class="swiper-pag stages__swiper-pag">
            <div class="swiper-pagination stages__pagination"></div>
        </div>
    </div>
</section>