<div class="stocks section-offset section-decoration">
    <div class="container swiper-container">
        <h2 class="section-title-1 swiper-title">Акции</h2>
        <div class="swiper stocks__inner swiper-inner">
            <div class="swiper-wrapper">
                <div class="swiper-slide stocks__item animation-item scale-item animation change-item">
                    <div class="stocks__content">
                        <h3 class="change-item__title">Название акции</h3>
                        <ul>
                            <li>Описание</li>
                            <li>Описание</li>
                            <li>Описание</li>
                        </ul>
                        <button class="stocks__btn primary-btn standart-btn popup-btn change-item__btn" data-path="popup-change">Оставить заявку</button>
                    </div>
                    <div class="stocks__picture">
                        <source srcset="assets/img/decor/lic-decor.webp" type="image/webp">
                        <img src="assets/img/decor/lic-decor.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide stocks__item animation-item scale-item animation change-item">
                    <div class="stocks__content">
                        <h3 class="change-item__title">Название акции</h3>
                        <ul>
                            <li>Описание</li>
                            <li>Описание</li>
                            <li>Описание</li>
                        </ul>
                        <button class="stocks__btn primary-btn standart-btn popup-btn change-item__btn" data-path="popup-change">Оставить заявку</button>
                    </div>
                    <div class="stocks__picture">
                        <source srcset="assets/img/decor/lic-decor.webp" type="image/webp">
                        <img src="assets/img/decor/lic-decor.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pag stocks__swiper-pag">
            <div class="swiper-pagination stocks__pagination"></div>
        </div>
    </div>
</div>