<div class="text__content no-bg">
    <h2 class="section-title">Совместимость <span>алкоголя и диклофенака</span></h2>
    <picture>
        <source srcset="assets/img/other/text-pic.webp" type="image/webp">
        <img src="assets/img/other/text-pic.jpg" alt="Совместимость алкоголя и диклофенака">
    </picture>
    <p>Компания «Строй Лидер 53» специализируется на строительстве домов, бань из дерева «под ключ» и является известной
        организацией в Великом Новгороде, а также за его пределами. В строительной сфере мы заняты 10 лет и за это время
        сумели воплотить в реальность более 400 проектов.</p>
    <ul>
        <p>Пункты</p>
        <li>Алкогольное отравление</li>
        <li>Передозировка</li>
        <li>Алкогольное отравление</li>
        <li>Передозировка</li>
    </ul>
    <p>Опытные специалисты, которые работают в нашей компании, готовы приступить к выполнению задания любой сложности
        вне зависимости от сезона и воплотить вашу мечту в реальность. Опытные специалисты, которые работают в нашей
        компании, готовы приступить к выполнению задания любой сложности вне зависимости от сезона и воплотить вашу
        мечту в реальность.Опытные специалисты, которые работают в нашей компании, готовы приступить к выполнению
        задания любой сложности вне зависимости от сезона и воплотить вашу мечту в реальность.Опытные специалисты,
        которые работают в нашей компании, готовы приступить к выполнению задания любой сложности вне зависимости от
        сезона и воплотить вашу мечту в реальность..</p>
    <p>Опытные специалисты, которые работают в нашей компании, готовы приступить к выполнению задания любой сложности
        вне зависимости от сезона и воплотить вашу мечту в реальность.</p>
    <picture>
        <source srcset="assets/img/programs/program-1.webp" type="image/webp">
        <img src="assets/img/programs/program-1.jpg" alt="Совместимость алкоголя и диклофенака">
    </picture>
    <h3>Почему алкоголь и диклофинал не совместимы</h3>
    <p>Компания «Строй Лидер 53» специализируется на строительстве домов, бань из дерева «под ключ» и является известной
        организацией в Великом Новгороде, а также за его пределами. В строительной сфере мы заняты 10 лет и за это время
        сумели воплотить в реальность более 400 проектов. Компания «Строй Лидер 53» специализируется на строительстве
        домов, бань из дерева «под ключ» и является известной организацией в Великом Новгороде, а также за его
        пределами. В строительной сфере мы заняты 10 лет и за это время сумели воплотить в реальность более 400
        проектов.. Компания «Строй Лидер 53» специализируется на строительстве домов, бань из дерева «под ключ» и
        является известной организацией в Великом Новгороде, а также за его пределами. В строительной сфере мы заняты 10
        лет и за это время сумели воплотить в реальность более 400 проектов.. </p>
    <ul>
        <p>Симптомы</p>
        <li>Алкогольное отравление</li>
        <li>Передозировка</li>
        <li>Алкогольное отравление</li>
        <li>Передозировка</li>
    </ul>
    <p>Компания «Строй Лидер 53» специализируется на строительстве домов, бань из дерева «под ключ» и является известной
        организацией в Великом Новгороде, а также за его пределами. В строительной сфере мы заняты 10 лет и за это время
        сумели воплотить в реальность более 400 проектов. Компания «Строй Лидер 53» специализируется на строительстве
        домов, бань из дерева «под ключ» и является известной организацией в Великом Новгороде, а также за его
        пределами. В строительной сфере мы заняты 10 лет и за это время сумели воплотить в реальность более 400
        проектов.. Компания «Строй Лидер 53» специализируется на строительстве домов, бань из дерева «под ключ» и
        является известной организацией в Великом Новгороде, а также за его пределами. В строительной сфере мы заняты 10
        лет и за это время сумели воплотить в реальность более 400 проектов.. </p>
    <p>Компания «Строй Лидер 53» специализируется на строительстве домов, бань из дерева «под ключ» и является известной
        организацией в Великом Новгороде, а также за его пределами. В строительной сфере мы заняты 10 лет и за это время
        сумели воплотить в реальность более 400 проектов. Компания «Строй Лидер 53» специализируется на строительстве
        домов, бань из дерева «под ключ» и является известной организацией в Великом Новгороде, а также за его
        пределами. В строительной сфере мы заняты 10 лет и за это время сумели воплотить в реальность более 400
        проектов.. Компания «Строй Лидер 53» специализируется на строительстве домов, бань из дерева «под ключ» и
        является известной организацией в Великом Новгороде, а также за его пределами. В строительной сфере мы заняты 10
        лет и за это время сумели воплотить в реальность более 400 проектов.. Компания «Строй Лидер 53» специализируется
        на строительстве домов, бань из дерева «под ключ» и является известной организацией в Великом Новгороде, а также
        за его пределами. В строительной сфере мы заняты 10 лет и за это время сумели воплотить в реальность более 400
        проектов.. Компания «Строй Лидер 53» специализируется на строительстве домов, бань из дерева «под ключ» и
        является известной организацией в Великом Новгороде, а также за его пределами. В строительной сфере мы заняты 10
        лет и за это время сумели воплотить в реальность более 400 проектов.. </p>
    <p>Компания «Строй Лидер 53» специализируется на строительстве домов, бань из дерева «под ключ» и является известной
        организацией в Великом Новгороде, а также за его пределами. В строительной сфере мы заняты 10 лет и за это время
        сумели воплотить в реальность более 400 проектов. Компания «Строй Лидер 53» специализируется на строительстве
        домов, бань из дерева «под ключ» и является известной организацией в Великом Новгороде, а также за его
        пределами. В строительной сфере мы заняты 10 лет и за это время сумели воплотить в реальность более 400
        проектов.. Компания «Строй Лидер 53» специализируется на строительстве домов, бань из дерева «под ключ» и
        является известной организацией в Великом Новгороде, а также за его пределами. В строительной сфере мы заняты 10
        лет и за это время сумели воплотить в реальность более 400 проектов.. Компания «Строй Лидер 53» специализируется
        на строительстве домов, бань из дерева «под ключ» и является известной организацией в Великом Новгороде, а также
        за его пределами. В строительной сфере мы заняты 10 лет и за это время сумели воплотить в реальность более 400
        проектов.. Компания «Строй Лидер 53» специализируется на строительстве домов, бань из дерева «под ключ» и
        является известной организацией в Великом Новгороде, а также за его пределами. В строительной сфере мы заняты 10
        лет и за это время сумели воплотить в реальность более 400 проектов.. </p>
</div>