<div class="text__content text-main">
    <h2>Общие сведения о лечении алкоголизма</h2>
    <picture>
        <source srcset="assets/img/other/text-pic.webp" type="image/webp">
        <img src="assets/img/other/text-pic.jpg" alt="Совместимость алкоголя и диклофенака">
    </picture>
    <p>Алкоголизм – это хроническое заболевание, при котором формируется патологическая тяга к спиртному и утрачивается
        способность контролировать количество выпитого. В Международной классификации болезней оно относится к разряду
        психических и поведенческих расстройств, связанных с употреблением психоактивных веществ.</p>
    <p>По оценкам Всемирной организации здравоохранения, примерно каждый десятый взрослый в России имеет проблемы,
        связанные с алкоголем. Болезнь не ограничивается только физической зависимостью – она разрушает психику,
        отношения, работу и социальный статус.</p>
    <blockquote>
        <p><strong>«Лечение алкоголизма – это не только борьба с самим веществом,
                но и восстановление личности, семьи и будущего пациента». </strong><br>Врач-нарколог
        </p>
    </blockquote>
</div>