<div class="text__content section-offset">
    <h2>Эффективное лечение зависимостей:<br> <span>комплексный подход и гарантия
            результата</span></h2>
    <p><strong>Зависимость — это не вредная привычка, а хроническое заболевание. Справиться с ним силой воли практически
            невозможно, так как биохимия мозга уже нарушена.</strong> В наркологической клинике «МедГарант» во
        Владикавказе мы понимаем, как трудно сделать первый шаг, поэтому создали условия максимального психологического
        комфорта для пациентов и их родственников.</p>
    <p><strong>Зависимость — это не вредная привычка, а хроническое заболевание. Справиться с ним силой воли практически
            невозможно, так как биохимия мозга уже нарушена.</strong> В наркологической клинике «МедГарант» во
        Владикавказе мы понимаем, как трудно сделать первый шаг, поэтому создали условия максимального психологического
        комфорта для пациентов и их родственников.</p>
    <ul>
        <li>
            <strong>Легальность.</strong> Работаем строго по лицензии Минздрава, используем только сертифицированные
            препараты (США, Германия, Россия).
        </li>
        <li>
            <strong>Легальность.</strong> Работаем строго по лицензии Минздрава, используем только сертифицированные
            препараты (США, Германия, Россия).
        </li>
        <li>
            <strong>Легальность.</strong> Работаем строго по лицензии Минздрава, используем только сертифицированные
            препараты (США, Германия, Россия).
        </li>
        <li>
            <strong>Легальность.</strong> Работаем строго по лицензии Минздрава, используем только сертифицированные
            препараты (США, Германия, Россия).
        </li>
    </ul>
    <blockquote>
        Не ждите, пока ситуация станет критической. Своевременное обращение к наркологу
        повышает шансы на полную ремиссию до 90%.
    </blockquote>
    <p>Компания «Строй Лидер 53» специализируется на строительстве домов, бань из дерева «под ключ» и является
        известной
        организацией в Великом Новгороде, а также за его пределами. В строительной сфере мы заняты 10 лет и за это
        время
        сумели воплотить в реальность более 400 проектов.</p>
    <p>Компания «Строй Лидер 53» специализируется на строительстве домов, бань из дерева «под ключ» и является
        известной
        организацией в Великом Новгороде, а также за его пределами. В строительной сфере мы заняты 10 лет и за это
        время
        сумели воплотить в реальность более 400 проектов.</p>
</div>