<div class="text__content">
    <h3>Что выбрать для безопасности близкого?</h3>
    <p>Многие пациенты и их родственники настаивают на вызове нарколога на дом, желая сохранить проблему в тайне. Однако
        домашнее лечение эффективно только при легкой степени интоксикации. В тяжелых случаях клиника — единственный
        шанс спасти жизнь. ик Многие пациенты и их родственники настаивают на вызове нарколога
        на дом, желая сохранить проблему в тайне.</p>
    <h4>Что выбрать для безопасности близкого?</h4>
    <p>Многие пациенты и их родственники настаивают на вызове нарколога на дом, желая сохранить проблему в тайне. Однако
        домашнее лечение эффективно только при легкой степени интоксикации. В тяжелых случаях клиника — единственный
        шанс спасти жизнь. ик Многие пациенты и их родственники настаивают на вызове нарколога
        на дом, желая сохранить проблему в тайне.</p>
    <h5>Что выбрать для безопасности близкого?</h5>
    <p>Многие пациенты и их родственники настаивают на вызове нарколога на дом, желая сохранить проблему в тайне. Однако
        домашнее лечение эффективно только при легкой степени интоксикации. В тяжелых случаях клиника — единственный
        шанс спасти жизнь. ик Многие пациенты и их родственники настаивают на вызове нарколога
        на дом, желая сохранить проблему в тайне.</p>
    <h6>Что выбрать для безопасности близкого?</h6>
    <p>Многие пациенты и их родственники настаивают на вызове нарколога на дом, желая сохранить проблему в тайне. Однако
        домашнее лечение эффективно только при легкой степени интоксикации. В тяжелых случаях клиника — единственный
        шанс спасти жизнь. ик Многие пациенты и их родственники настаивают на вызове нарколога
        на дом, желая сохранить проблему в тайне.</p>
</div>