<div class="text__content section-offset">
    <h2>Открытость — <span>наш принцип</span></h2>
    <p>Мы ничего не скрываем от пациентов. Ознакомьтесь с условиями проживания и юридическими документами.</p>
    <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют
        потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв
        и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь
        ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по
        умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё
        дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые
        версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).</p>
    <h3>
        Что выбрать для безопасности близкого?
    </h3>
    <p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например,
        юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для
        серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие
        известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут
        нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он
        использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате
        сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или "невозможных" слов.</p>
    <h3>Лечение дома или в стационаре</h3>
    <p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например,
        юмористические вставки или слова, которые даже отдалённо не напоминают латынь.</p>
    <ul>
        <li>
            Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
        </li>
        <li>
            Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
        </li>
    </ul>
    <p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например,
        юмористические вставки или слова, которые даже отдалённо не напоминают латынь.</p>

</div>