<div class="text-wrap__with-doc">
    <div class="text__content">
        <h2 class="section-title">Лечение <span>алкоголизма</span></h2>
        <p>Компания «Строй Лидер 53» специализируется на строительстве домов, бань из дерева «под ключ» и является
            известной
            организацией в Великом Новгороде, а также за его пределами. В строительной сфере мы заняты 10 лет и за это
            время
            сумели воплотить в реальность более 400 проектов.</p>
        <ul>
            <li>
                Алкогольное отравление
            </li>
            <li>
                Передозировка
            </li>
            <li>
                Алкогольное отравление
            </li>
            <li>
                Передозировка
            </li>
        </ul>
        <p>Компания «Строй Лидер 53» специализируется на строительстве домов, бань из дерева «под ключ» и является
            известной
            организацией в Великом Новгороде, а также за его пределами. В строительной сфере мы заняты 10 лет и за это
            время
            сумели воплотить в реальность более 400 проектов.</p>
        <p>Компания «Строй Лидер 53» специализируется на строительстве домов, бань из дерева «под ключ» и является
            известной
            организацией в Великом Новгороде, а также за его пределами. В строительной сфере мы заняты 10 лет и за это
            время
            сумели воплотить в реальность более 400 проектов.</p>
    </div>
    <div class="text-doc__inner text-doc-lic">
        <picture class="text-doc__picture">
            <source srcset="assets/img/other/text-pic.webp" type="image/webp">
            <img src="assets/img/other/text-pic.jpg" alt="" loading="lazy">
        </picture>

        <div class="text-doc-lic__inner swiper">
            <div class="swiper-wrapper">
                <a href="assets/img/certificates/1.webp" data-fancybox="certificates"
                    class="swiper-slide text-doc-lic__item">
                    <picture class="item__picture zoom">
                        <source srcset="assets/img/certificates/1.webp" type="image/webp">
                        <img src="assets/img/certificates/1.jpg"
                            alt="Лицензия на медицинскую деятельность центра Новый Ресурс">
                    </picture>
                </a>
                <a href="assets/img/certificates/1.webp" data-fancybox="certificates"
                    class="swiper-slide text-doc-lic__item">
                    <picture class="item__picture zoom">
                        <source srcset="assets/img/certificates/1.webp" type="image/webp">
                        <img src="assets/img/certificates/1.jpg"
                            alt="Лицензия на медицинскую деятельность центра Новый Ресурс">
                    </picture>
                </a>
                <a href="assets/img/certificates/1.webp" data-fancybox="certificates"
                    class="swiper-slide text-doc-lic__item">
                    <picture class="item__picture zoom">
                        <source srcset="assets/img/certificates/1.webp" type="image/webp">
                        <img src="assets/img/certificates/1.jpg"
                            alt="Лицензия на медицинскую деятельность центра Новый Ресурс">
                    </picture>
                </a>
                <a href="assets/img/certificates/1.webp" data-fancybox="certificates"
                    class="swiper-slide text-doc-lic__item">
                    <picture class="item__picture zoom">
                        <source srcset="assets/img/certificates/1.webp" type="image/webp">
                        <img src="assets/img/certificates/1.jpg"
                            alt="Лицензия на медицинскую деятельность центра Новый Ресурс">
                    </picture>
                </a>
                <a href="assets/img/certificates/1.webp" data-fancybox="certificates"
                    class="swiper-slide text-doc-lic__item">
                    <picture class="item__picture zoom">
                        <source srcset="assets/img/certificates/1.webp" type="image/webp">
                        <img src="assets/img/certificates/1.jpg"
                            alt="Лицензия на медицинскую деятельность центра Новый Ресурс">
                    </picture>
                </a>
                <a href="assets/img/certificates/1.webp" data-fancybox="certificates"
                    class="swiper-slide text-doc-lic__item">
                    <picture class="item__picture zoom">
                        <source srcset="assets/img/certificates/1.webp" type="image/webp">
                        <img src="assets/img/certificates/1.jpg"
                            alt="Лицензия на медицинскую деятельность центра Новый Ресурс">
                    </picture>
                </a>
                <a href="assets/img/certificates/1.webp" data-fancybox="certificates"
                    class="swiper-slide text-doc-lic__item">
                    <picture class="item__picture zoom">
                        <source srcset="assets/img/certificates/1.webp" type="image/webp">
                        <img src="assets/img/certificates/1.jpg"
                            alt="Лицензия на медицинскую деятельность центра Новый Ресурс">
                    </picture>
                </a>
                <a href="assets/img/certificates/1.webp" data-fancybox="certificates"
                    class="swiper-slide text-doc-lic__item">
                    <picture class="item__picture zoom">
                        <source srcset="assets/img/certificates/1.webp" type="image/webp">
                        <img src="assets/img/certificates/1.jpg"
                            alt="Лицензия на медицинскую деятельность центра Новый Ресурс">
                    </picture>
                </a>
            </div>
        </div>

        <div class="swiper-pag text-doc-lic__swiper-pag">
            <div class="swiper-pagination text-doc-lic__pagination"></div>
        </div>

        <div class="text-doc__name">
            Игорь яковлев
        </div>
        <div class="text-doc__post">
            Главный врач клиники
        </div>
    </div>
</div>
<div class="text__content">
    <h2 class="section-title">Лечение <span>алкоголизма</span></h2>
    <p>Компания «Строй Лидер 53» специализируется на строительстве домов, бань из дерева «под ключ» и является известной
        организацией в Великом Новгороде, а также за его пределами. В строительной сфере мы заняты 10 лет и за это время
        сумели воплотить в реальность более 400 проектов.</p>
    <ul>
        <li>
            Алкогольное отравление
        </li>
        <li>
            Передозировка
        </li>
        <li>
            Алкогольное отравление
        </li>
        <li>
            Передозировка
        </li>
    </ul>
    <p>Компания «Строй Лидер 53» специализируется на строительстве домов, бань из дерева «под ключ» и является известной
        организацией в Великом Новгороде, а также за его пределами. В строительной сфере мы заняты 10 лет и за это время
        сумели воплотить в реальность более 400 проектов.</p>
    <p>Компания «Строй Лидер 53» специализируется на строительстве домов, бань из дерева «под ключ» и является известной
        организацией в Великом Новгороде, а также за его пределами. В строительной сфере мы заняты 10 лет и за это время
        сумели воплотить в реальность более 400 проектов.</p>
    <p>Компания «Строй Лидер 53» специализируется на строительстве домов, бань из дерева «под ключ» и является известной
        организацией в Великом Новгороде, а также за его пределами. В строительной сфере мы заняты 10 лет и за это время
        сумели воплотить в реальность более 400 проектов.</p>
    <p>Компания «Строй Лидер 53» специализируется на строительстве домов, бань из дерева «под ключ» и является известной
        организацией в Великом Новгороде, а также за его пределами. В строительной сфере мы заняты 10 лет и за это время
        сумели воплотить в реальность более 400 проектов.</p>
    <p>Компания «Строй Лидер 53» специализируется на строительстве домов, бань из дерева «под ключ» и является известной
        организацией в Великом Новгороде, а также за его пределами. В строительной сфере мы заняты 10 лет и за это время
        сумели воплотить в реальность более 400 проектов.</p>
    <p>Компания «Строй Лидер 53» специализируется на строительстве домов, бань из дерева «под ключ» и является известной
        организацией в Великом Новгороде, а также за его пределами. В строительной сфере мы заняты 10 лет и за это время
        сумели воплотить в реальность более 400 проектов.</p>

    <p>Статья размещена: 22.05.2024 года</p>
    <p>Последняя редакция: 22.05.2024 года</p>
    <p>Статью проверил врач-нарколог Юсиков Павел Валерьевич</p>
</div>