<div class="text__content text-main">
    <h3>Группы риска и стадии алкоголизма</h3>
    <p>Формирование зависимости никогда не связано с одним единственным фактором. Обычно болезнь развивается из-за
        сочетания предрасположенности организма, личностных особенностей и влияния внешней среды.</p>
    <picture>
        <source srcset="assets/img/other/text-pic.webp" type="image/webp">
        <img src="assets/img/other/text-pic.jpg" alt="Совместимость алкоголя и диклофенака">
    </picture>
    <h4>Причины и симптомы алкоголизма</h4>
    <p>Алкоголизм – это хроническое заболевание, при котором формируется патологическая тяга к спиртному и утрачивается
        способность контролировать количество выпитого. В Международной классификации болезней оно относится к разряду
        психических и поведенческих расстройств, связанных с употреблением психоактивных веществ.</p>
    <h4>Причины и симптомы алкоголизма</h4>
    <p>Алкоголизм – это хроническое заболевание, при котором формируется патологическая тяга к спиртному и утрачивается
        способность контролировать количество выпитого. В Международной классификации болезней оно относится к разряду
        психических и поведенческих расстройств, связанных с употреблением психоактивных веществ.</p>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Стадия</th>
                    <th>Характерные признаки</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Начальная</td>
                    <td>Формируется психическая зависимость, растёт толерантность к спиртному.</td>
                </tr>
                <tr>
                    <td>Средняя</td>
                    <td>Утренние опохмелы, запои, первые признаки деградации личности.</td>
                </tr>
                <tr>
                    <td>Тяжёлая</td>
                    <td>Потеря контроля полностью, разрушение органов, высокая смертность.</td>
                </tr>
            </tbody>
        </table>
    </div>
    <blockquote>
        <p><strong>«Лечение алкоголизма – это не только борьба с самим веществом,
                но и восстановление личности, семьи и будущего пациента». </strong><br>Врач-нарколог
        </p>
    </blockquote>
</div>