<section class="therapy section-offset">
    <div class="container swiper-container">
        <h2 class="section-title-1 swiper-title">
            Комплексные программы <span>терапии</span>
        </h2>
        <div class="swiper therapy__inner">
            <div class="swiper-wrapper therapy__list">
                <div class="therapy__item swiper-slide change-item">
                    <p class="therapy__item-title change-item__title">Стандарт</p>
                    <span class="therapy__item-price">3 300 руб</span>
                    <div class="therapy__item-list">
                        <ul>
                            <li>Выезд врача на дом, сбор анамнеза</li>
                            <li>Базовая диагностика</li>
                            <li>Постановка detox капельницы</li>
                            <li>Успокоительные, седативные</li>
                            <li>Витамины</li>
                            <li>Врач оставит препараты</li>
                            <li>Консультации и рекомендации</li>
                        </ul>
                    </div>
                    <button class="therapy__item-btn primary-btn standart-btn popup-btn change-item__btn"
                        data-path="popup-change">Заказать</button>
                </div>
                <div class="therapy__item swiper-slide change-item">
                    <p class="therapy__item-title change-item__title">Расширенный</p>
                    <span class="therapy__item-price">6 200 руб</span>
                    <div class="therapy__item-list">
                        <ul>
                            <li>Выезд врача на дом, сбор анамнеза</li>
                            <li>Базовая диагностика</li>
                            <li>Постановка detox капельницы</li>
                            <li>Успокоительные, седативные</li>
                            <li>Витамины</li>
                            <li>Врач оставит препараты</li>
                            <li>Консультации и рекомендации</li>
                            <li>Гепатопротекторы</li>
                            <li>Препараты, снижающие токсический вред этанола</li>
                            <li>Психотерапия</li>
                            <li>Препараты для мозговой активности</li>
                        </ul>
                    </div>
                    <button class="therapy__item-btn primary-btn standart-btn popup-btn change-item__btn"
                        data-path="popup-change">Заказать</button>
                </div>
                <div class="therapy__item swiper-slide change-item">
                    <p class="therapy__item-title change-item__title">Интенсив</p>
                    <span class="therapy__item-price">6 200 руб</span>
                    <div class="therapy__item-list">
                        <ul>
                            <li>Выезд врача на дом, сбор анамнеза</li>
                            <li>Базовая диагностика</li>
                            <li>Постановка detox капельницы</li>
                            <li>Успокоительные, седативные</li>
                            <li>Витамины</li>
                            <li>Врач оставит препараты</li>
                            <li>Консультации и рекомендации</li>
                            <li>Гепатопротекторы</li>
                            <li>Препараты, снижающие токсический вред этанола</li>
                            <li>Психотерапия</li>
                            <li>Препараты для мозговой активности</li>
                            <li>ЭКГ и описание</li>
                            <li>Транспортировка</li>
                            <li>Поддержка родственников</li>
                        </ul>
                    </div>
                    <button class="therapy__item-btn primary-btn standart-btn popup-btn change-item__btn"
                        data-path="popup-change">Заказать</button>
                </div>
            </div>
        </div>
        <div class="swiper-pag therapy__swiper-pag">
            <div class="swiper-pagination therapy__pagination"></div>
        </div>
    </div>
</section>