<section class="treatment">
    <div class="container">
        <h2 class="section-title treatment__title">Лечение дома или в стационаре:<br> <span>что выбрать для
                безопасности близкого?</span></h2>
        <div class="section-descr">Многие пациенты и их родственники настаивают на вызове нарколога на дом, желая
            сохранить проблему в тайне.
            Однако домашнее лечение эффективно только при легкой степени интоксикации. В тяжелых случаях клиника —
            единственный шанс спасти жизнь.</div>
        <div class="treatment__inner text__content">
            <div class="treatment__risks">
                <span>Риски лечения дома</span>
                <p>Дома врач находится с пациентом 1–2 часа, ставит капельницу и уезжает, оставляя таблетки. Но:</p>
                <ul>
                    <li>Нет круглосуточного мониторинга сердца и давления.</li>
                    <li>Высок риск повторного употребления (друзья, «заначки»).</li>
                    <li>В случае отека мозга или белой горячки помощь может
                        не успеть приехать.</li>
                </ul>
            </div>
            <div class="treatment__advantages">
                <span>Преимущества стационара</span>
                <p>В клинике «МедГарант» пациент находится под наблюдением 24/7.
                    Мы обеспечиваем:</p>
                <ul>
                    <li><strong>Изоляцию.</strong> Нет доступа к алкоголю и наркотикам.</li>
                    <li><strong>Аппаратную терапию.</strong> Плазмаферез, ВЛОК, ксенонотерапия.</li>
                    <li><strong>Комплексный подход.</strong> Работают не только наркологи, но и психологи, кардиологи,
                        неврологи.</li>
                </ul>
            </div>
        </div>

        <blockquote>
            <p><strong>Когда госпитализация обязательна?</strong></p>
            <p>Мы настоятельно рекомендуем стационар, если: запой длится более 5 дней, возраст пациента старше 60 лет,
                имеются хронические заболевания (сердце, печень, диабет) или в прошлом были случаи эпилепсии и психозов.
            </p>
        </blockquote>
        <p>Многие пациенты и их родственники настаивают на вызове нарколога на дом, желая сохранить проблему в тайне.
            Однако домашнее лечение эффективно только при легкой степени интоксикации. В тяжелых случаях клиника —
            единственный шанс спасти жизнь. ик Многие пациенты и их родственники настаивают на вызове нарколога
            на дом, желая сохранить проблему в тайне.</p>
    </div>
</section>